[2012-05-04 16:24] freddy36 opened #4 "comment match not working"
Extracting comments always results in an empty string.
Tested with commit 9d63c856b5

To reproduce the issue see the follwoing example.
A workaround is also included.

[code]

[2012-05-07 09:17] #4 closed, assigned to nobody

[2012-05-07 10:18] freddy36 opened #5 "undefined symbol: iptc_init (libiptc compatibilitly)"
If libip4tc doesn't exist but libiptc does the module failes to load with the following error:

[code]

Seems like ctypes.CDLL() doesn't throw an exception in case the lib couldn't be loaded.

Follwoing change should fix the problem:

[code]

[2012-05-08 21:17] #5 closed, assigned to nobody

[2012-05-24 11:06] nashrafeeg opened #9 "error while running the example"
hi i am getting this error while running AttributeError: MASQUERADE: invalid parameter to-ports. I am using the Simple Rule not using any match extension example

[2012-07-22 20:55] leleobhz opened #10 "64-bit casting issue"
Ive tryed to use match object in a 64-bit machine and got this:
## In [62]: m.dport = "22"

ArgumentError                             Traceback (most recent call last)
/home/leonardo/bin/<ipython-input-62-7ae3ef65accd> in <module>()
----> 1 m.dport = "22"

/usr/lib/pymodules/python2.7/iptc/**init**.pyc in **setattr**(self, name, value)
    358     def **setattr**(self, name, value):
    359

[2012-07-22 21:56] leleobhz opened #11 "Problems with --state"
I need a rule for statefull firewall but i cant create it:

[code]

[2012-07-23 16:03] leleobhz opened #12 "No RAW table support"
[code]

[2012-09-18 11:31] cioban opened #14 "Fedora 16/17: error while running example"
Hi,

**When I tried to run this example on Fedora 16 or 17:**

**I got this error:**
Traceback (most recent call last):
  File "./teste.py", line 40, in <module>
    match.dport = "1234"
  File "/usr/lib64/python2.7/site-packages/iptc/**init**.py", line 360, in **setattr**
    self.parse(name.replace("_", "-"), value)
  File "/usr/lib64/python2.7/site-packages/iptc/__init__.py", line 305, in parse

[2013-01-25 17:44] #14 closed, assigned to nobody

[2013-01-25 17:45] #11 closed, assigned to nobody

[2013-01-25 17:51] #9 closed, assigned to nobody

[2013-01-29 15:58] #12 closed, assigned to nobody

[2013-02-05 16:24] maciq opened #16 "Unable to create DNAT/SNAT targets in TABLE_NAT"
Hello,

I am trying to create some NAT rules, but whenever I am trying to set either 'to_destination' or 'to_source', it fails. Any idea what am I doing wrong?

[code]

[2013-02-06 13:07] #16 closed, assigned to nobody

[2013-02-21 19:08] #10 closed, assigned to nobody

[2013-02-25 23:36] Caligatio opened #18 "Feature Request: Rule compare that ignores certain match objects"
I don't have a good idea on how exactly to implement this but it would be useful if there was a way to check Rule equivalency while ignoring specified matches.

My use case is I want to check all active rules against a iptc built rule despite the active rules having comments (-m comment --comment "Rule comment").  If only the comment is different, I still want the rules to test to be equal.

[2013-02-26 22:45] #18 closed, assigned to nobody

[2013-03-02 09:15] f34rdotcom opened #19 "Unable to traverse tables with iptables 1.4.13"
I was also not able to get the modules to load. I modified the code to load like this
_libiptc = ct.CDLL("libip4tc.so", use_errno=True)

I am using an custom embeded distroy with a 3.3.7 kernel. This may be the problem
but I thought I should check as you mentioned that the API changed in 1.4 and needed more testing to confirm.

Below is the exception I get its possible the lines are off by a few f

[2013-03-04 23:31] Caligatio opened #20 "Segfault with iptables <=1.4.10"
My production machines are currently running CentOS 6.3 which is locked to iptables 1.4.7.  After updating to the newest version of iptc (I ran into the issue fixed by 94c1fa7332e0f54a8f1a625f08cbaeab1aa05314), I began getting seg faults when I inserted, deleted, or appended rules.

I ran your ./tests.py and the results range from segfaulting on test 2 to failing 16 of the 23 tests.  I'm attemptin

[2013-03-06 20:53] #20 closed, assigned to nobody

[2013-03-06 21:05] ldx opened #21 "libxtables has global state"
It seems libxtables has some global state: at least `afinfo` in iptables/xtables.c is something that can mess up things if one process tries to use both IPv6 and IPv4.

This is the problem causing the failure of e.g. the insertion of a rule with a REJECT target via both IPv4 and IPv6 in the test suite.

[2013-03-13 23:02] Caligatio opened #22 "Unable to delete existing rule with "comment" match in every distro; segfault in CentOS"
As a test:

iptables -N TEST_CHAIN
iptables -A TEST_CHAIN -m comment --comment "Test comment" -j ACCEPT

[code]

Result in Ubuntu:
iptc.xtables.XTablesError: comment: --comment must be specified

Result in CentOS:
Segmentation Fault

Underlying problem:
When find_match returns with the "comment" match type, the mflags are set to zero since it's a clone (http://git.netfilter.org/iptables/tree/xtabl

[2013-04-04 16:00] #22 closed, assigned to nobody

[2013-04-06 15:51] #21 closed, assigned to nobody

[2013-04-10 11:21] seanhandley opened #23 "Autocommit is reset to True when building rules in memory"
I'm using python iptables to build up rules and chains in memory before committing the changes at the end. I have a large volume of rules to dynamically create and it's necessary to build the whole set before committing so as to provide as minimal a disturbance to the firewall's behaviour as possible.

What I'm seeing is the `autocommit` propery of the `iptc.Table` object is being changed from `Fa

[2013-04-12 18:03] #23 closed, assigned to nobody

[2013-04-13 00:37] f34rdotcom opened #24 "exception fault in garbage collection"
I have not built a new version of the helper library if that has changed let me know.
## Simple test script to reproduce
# !/usr/bin/python

import pprint
import iptc

for chain in iptc.Table(iptc.Table.NAT).chains:
  print vars(chain)

table = iptc.Table(iptc.Table.NAT)
inp = iptc.Chain(table, "eth1_masq")

for r in inp.rules:
    print "S:", r.src, "-> D:", r.dst

---- iptables in place to test

[2013-04-16 10:56] jamesrose opened #25 "Incompatibility with iptables v1.4.7"
Hi,

We're running `iptables v1.4.7` which is the version packaged with CentOS (and possibly Debian) but running into errors. We've tried upgrading to `v1.4.12` from source and it works, so the problem definitely with the `libxtables` version. Here's the trace:

[code]

Thanks!

[2013-04-29 23:01] josh-cf opened #26 "Error parsing rules with tcp flag matches"
I have iptables rules matching TCP SYN traffic. I can successfully add rules with SYN flag matches. But when I try and parse rules with TCP flag matches, I get a ValueError.

Code to replicate:

[code]

The error:

[2013-05-03 16:44] freddy36 opened #27 "Comments with spaces are cut off"
With the latest git version (8def4a9199) parsing comments which contain spaces are cut off after at the first space.

I'm currently using a quick&dirty hack as a workaround (Apparently the value variable is passed to the parse() method without quotes resulting in shlex.split() splitting it up into multiple arguments and only the first one will end up as the comment.

This is actually a regression

[2013-05-06 21:52] #26 closed, assigned to nobody

[2013-05-11 18:34] #27 closed, assigned to nobody

[2013-06-04 12:10] jawr opened #28 "IPTCError: can't initialize filter: libiptc version error"
Hi, I'm getting an intermittent error when repeatedly calling the following line of code:

chain_name = 'FORWARD'
chain = iptc.Chain(iptc.Table(iptc.Table.FILTER), chain_name)

Here is the traceback:

Traceback (most recent call last):
  File "/usr/share/pyshared/flask/app.py", line 1518, in **call**

  File "/usr/share/pyshared/flask/app.py", line 1506, in wsgi_app

  File "/usr/share/pyshared/fl

[2013-06-20 17:21] bukinr opened #29 "no "standard" extension found for this protocol"
I have this problems on all of my gentoo machines (tested on kernels 3.9.2 - 3.9.6)
iptables v1.4.19.1

0 www05: {118} sudo python test.py
WARNING: this test will manipulate iptables rules.
Don't do this on a production machine.
Would you like to continue? y/n y
test_table6 (iptc.test.test_iptc.TestTable6) ... ok
test_table6_autocommit (iptc.test.test_iptc.TestTable6) ... ok
test_refresh (iptc.tes

[2013-06-22 12:35] #25 closed, assigned to ldx

[2013-06-22 12:35] #24 closed, assigned to nobody

[2013-06-22 12:36] #19 closed, assigned to nobody

[2013-06-22 12:38] #29 closed, assigned to nobody

[2013-07-05 21:14] nosmo opened #30 "xtables symbol error with Debian 6"
Hey there,

Big fan of the module. I've been developing on Debian 7 with no problems, but I've had to make my code compatible with Debian 6. Unfortunately Debian 6's xtables seems to lack the xtables_pending_matches (and xtables_pending_targets) symbol and this causes iptc to fail to import as follows:

<pre>>>> import iptc
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2013-07-05 22:40] #30 closed, assigned to nobody

[2013-07-15 15:55] meowstars opened #31 "Error while trying to get rules from a custom chain in nat table"
My machine is running a debian jessie/sid with the kernel 3.9.8 and with iptables v1.4.18

I created the chain TESTCHAIN in the nat table using the iptables binary.
Then I added the following rule:
    # iptables -t nat -A TESTCHAIN -j DNAT --to-destination 10.0.0.2

My rule has been added properly and I can see it with iptables -t nat -L.

When I try to get all the rules of my custom chain with p

[2013-07-22 11:58] #31 closed, assigned to nobody

[2013-08-01 03:37] tf198 opened #32 "Resource leak"
The resources associated with `Chain` don't seem to being released correctly, resulting in eventual 'Too many open files' errors.

Test code:

[code]

Sorry, have had a look at the code and I can't figure it out - so no patch from me... :-S

[2013-08-01 04:42] #32 closed, assigned to nobody

[2013-08-24 14:38] ericvsmith opened #33 "Only one rule returned by chain.rules"
This code:

[code]

only prints out a single rule, despite the fact that the BLACKLIST chain has 11 rules:

[code]

The problem appears to be in handle management for tables. Because the tables are globally cached, there's only one "filter" table object, so only one handle. But the handle is getting re-opened when another 'filter; table object is being created behind my back, thus overwriting the

[2013-08-31 16:40] #33 closed, assigned to nobody

[2013-09-03 21:34] nosmo opened #36 "Memory leak on Debian wheezy"
I'm experiencing memory and CPU issues with iptc in some cases. When iterating over the rules in a chain continuously, a script will gradually use more and more RAM until the python process is killed by the OOM killer. The following script is killed after 25 minutes on a 512MB machine - not exactly an instant problem, but I'm looking to write a long-running service.

[code]

I'm experiencing this

[2013-09-06 18:11] #28 closed, assigned to nobody

[2013-09-09 17:48] #36 closed, assigned to nobody

[2013-09-15 21:31] peakwinter opened #37 ""Can't find directory with extensions; please set XTABLES_LIBDIR""
Hi there!

I have run into an issue with iptables 1.4.19.1-1 on Arch Linux, with Python2.7.5, using the version of this plugin available via Git. This error is being returned just after install, and I can't do anything with the plugin. I tried Googling what this variable should be set to but I cannot seem to find any information anywhere. While using the version of the plugin available via PIP, I

[2013-09-16 13:33] #37 closed, assigned to nobody

[2013-10-10 17:52] nosmo opened #38 "High CPU use when iterating over chain"
Hello,
I'm currently experiencing large CPU use spikes in scripts that use python-iptables on my system. The following code features ~100% CPU use every time the chain is iterated over, and ideally I'd like to iterate over chains every few seconds but this isn't an option with this kind of use. I'm wondering if this is a Debian-specific problem or a more general one. I currently have around 600 DR

[2013-10-16 07:00] saurabh-hirani opened #39 "having invalid policy commits iptables inspite of specifying autocommit=False"
Hi,

python-iptables is a great tool and has been very well written. I was thinking of contributing some more examples to the doc and in the process I found out a behavior deviating from how userspace iptables behaves.

If my initial "iptables -S" output is:

[code]

and if I feed the file "iptables-restore-data" which contains the following to iptables-restore:

[code]

like so

[code]

the outpu

[2013-10-16 13:44] saurabh-hirani opened #40 "atomicity offered by autocommit=False not working as expected"
Hi Dhananjay ,

This bug is present in the pypi package 0.2.0-dev as mentioned here - https://pypi.python.org/pypi/python-iptables I don't know if this is the right place to mention the bug as the latest version of code fixes it. Please feel free to redirect me to a relevant place for filing this bug.

I wanted to use python-iptables as a programmatic interface for my firewall and therein I wanted

[2013-10-21 02:06] peakwinter opened #41 "Declaring a iptc.Match results in "tcp match options" displaying"
I am experiencing a strange error in using this library under Linux 3.11.6-1 with Arch Linux and iptables 1.4.19.1 inside VirtualBox. The code I've written normally functions quite well (it's basically exactly the same as [this example](http://ldx.github.io/python-iptables/examples.html#rule-using-the-udp-match-extension)) on other distros with older kernels.

As soon as I get to setting up a Matc

[2013-11-05 21:54] #38 closed, assigned to nobody

[2013-11-06 21:51] #40 closed, assigned to nobody

[2013-11-06 21:58] #39 closed, assigned to nobody

[2013-11-10 21:59] #41 closed, assigned to nobody

[2013-11-13 19:31] algorerhythm opened #43 "/lib/xtables/libxt_conntrack.so: no "conntrack" extension found for this protocol"
est_rule4 = iptc.Rule()
est_match4 = est_rule4.create_match("conntrack")
est_match4.ctstate = "RELATED,ESTABLISHED"
est_target4 = iptc.Target(est_rule4, 'ACCEPT')
est_rule4.target = est_target4

chain = iptc.Chain(iptc.Table(iptc.Table.FILTER), "INPUT")
chain.insert_rule(est_rule4)

Outputs:
"/lib/xtables/libxt_conntrack.so: no "conntrack" extension found for this protocol"

The rule applies, howe

[2013-11-14 22:37] chutz opened #44 "Python3 support"
It would be very useful if this had python3 support as a lot of distros are moving to python3 being the default implementation.

[2013-11-20 04:57] bcl opened #45 "Add /usr/lib64/xtables to xtdir list in iptc/xtables.py"
Fedora has the libs here.

[2013-11-20 16:09] bcl opened #46 "iptc.xtables.XTablesError: conntrack: no such parameter state"
On Fedora 19 using v0.2.0 with /usr/lib64/xtables added to path and commit 7a2bdb6 (fix stdout)

[code]

[2013-11-24 11:04] #45 closed, assigned to nobody

[2013-11-26 15:56] devicenull opened #47 "Rule counters don't update during runtime"
I'm currently using this module in a long-running daemon.  I've noticed that the rules and counters do not seem to update during runtime.  I suspect this is because of the caching.

As an example:

[code]

Output:

[code]

Note that I sent some packets matching the rules during the first 'Please send some traffic' line, but it didn't appear in the counters until the second run of the script.

[2013-12-30 19:55] lucascastro opened #48 "IPTCError: can't initialize tables"
when I run ./test.py  for the first time.
It erases errors like above:
## ERROR: test_rule_standard_target (iptc.test.test_iptc.TestRule)

Traceback (most recent call last):
  File "/home/teste/python-iptables/iptc/test/test_iptc.py", line 515, in setUp
    self.chain = iptc.Chain(iptc.Table(iptc.Table.FILTER),
  File "/home/teste/python-iptables/iptc/ip4tc.py", line 1332, in **new**
    obj._init

[2014-01-04 22:25] #46 closed, assigned to nobody

[2014-01-04 23:12] #43 closed, assigned to nobody

[2014-01-05 00:24] #48 closed, assigned to nobody

[2014-01-15 15:51] lucascastro opened #52 "match mac address"
how can I match like this ?
-m mac ! --mac-source 00:ma:ca:dd:re:ss

[2014-01-17 21:57] #52 closed, assigned to nobody

[2014-02-02 04:47] #47 closed, assigned to nobody

[2014-02-03 23:18] chutz opened #53 "python-iptables causes the python interperter to segfault when trying to create a conntrack match"
This is with iptables-1.4.20, and python-iptables-0.3.0 reproducible every time on multiple machines:

[code]

[2014-02-04 07:22] lietu opened #54 "Is it possible to manage comments with python-iptables?"
I would like to be able to read and write comments to rules, i.e. the same way as you would run:

[code]

and

[code]

.. I tried to check the code, but the deeper internals are a bit too mystic for me, and I couldn't see anything even hinting towards that direction e.g. in the Rule class.

I am planning to use python-iptables for automating firewall rule management for multiple servers, and I hav

[2014-02-05 01:15] #53 closed, assigned to nobody

[2014-02-05 06:59] lietu opened #56 "Issue when deleting rules in a loop (0.3.0)"
Deleting rules in a simple loop causes errors which looks like the rule objects contain a fixed "index" that fails to update when things change.

[code]

This does work however:

[code]

.. but it's a lot uglier construct.

Is there anything to be done about this?

[2014-02-05 07:41] lietu opened #57 "Issue with quotes in match parameters (0.3.0)"
I bumped into an issue with quotes when I tried to see if there was anything I could do to get double-quotes and single-quotes saved in the comments of my rules.

[code]

For now it seems the safer option is to strip all double-quotes and single-quotes from the values.

[2014-02-09 14:33] #54 closed, assigned to nobody

[2014-02-19 23:53] #56 closed, assigned to nobody

[2014-03-05 23:29] chutz opened #60 "Unable to delete some previously added rules"
This code snippet reproduces the bug, I create a rule then I try to iterate over all tables and chains deleting all rules, and it fails to delete the rule.

[code]

[2014-03-10 20:08] eiginn opened #61 "Issue with rules that include set matches"
Unsure if i am doing something stupid here but when i add the the following set, chain, and rule as an example:

[code]

Listing the rules with:

[code]

I get the following value error

[code]

At first glance of other issues it looked like it was related to #30 but I don't get an error on import

[2014-03-30 17:20] #60 closed, assigned to nobody

[2014-03-31 01:16] #61 closed, assigned to nobody

[2014-04-16 06:39] ds99v opened #63 "iptc.Rule6 does not support icmpv6"
hi.
i used to iptc.Rule6
but dose not excute protocol icmpv6-type

test1)

rule6 = iptc.Rule6()
rule6.in_interface = 'eth0'
rule6.protocol = 'icmp'     # icmpv6 according to ip6tables
icmpv6_match = iptc.Match(rule6, 'icmp')
icmpv6_match.icmp_type = 'echo-request'  # icmpv6_type according to ip6tables
INPUT_chain.insert_rule(rule6)

dose not Create the Rule

[2014-04-23 05:19] achippa opened #64 "no "standard" extension found for this protocol"
Hi I am running into this issue with python (2.7.3). Seems to be an issue with iptc or the way I am using it. I tried rule.create_target() as well... no luck... Thought I'll ask this question before digging deeper into iptc. Even tried replacing jr.rule.action with "DROP"... No luck... Appreciate any help...

method = POST
client request = insert_rule
insert_rule() called 1
/lib/xtables/libxt_stan

[2014-04-24 01:56] hegusung opened #65 "Unable de find /proc/sys/kernel/modprobe"
Hello, I've got some issues when I'm importing iptc
Here is the output:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/iptc/**init**.py", line 10, in <module>
    from ip4tc import (is_table_available, Table, Chain, Rule, Match, Target,
  File "/usr/local/lib/python2.7/dist-packages/iptc/ip4tc.py", line 18, in <module>
    l

[2014-04-26 18:36] #63 closed, assigned to nobody

[2014-05-12 06:59] lietu opened #67 "Unable to find license terms"
I just realized I've not seen a LICENSE.md or similar file around, and I can't find any license terms in the source code, this github page, or python-iptables.readthedocs.org.

https://help.github.com/articles/open-source-licensing#what-happens-if-i-dont-choose-a-license

[2014-05-12 07:31] #67 closed, assigned to nobody

[2014-05-14 16:39] tomthorogood opened #68 "XTablesError: can't find directory with extensions"
After building and installing, I am unable to import the module.  Our company does use its own chain of build scripts, but this includes `python setup.py install`. I have a feeling this is a problem on our end, but I would value your feedback on wehre this is going wrong. My guess is that it's an issue with building/installing the C extension?

[code]

[2014-05-14 16:53] #68 closed, assigned to nobody

[2014-05-19 06:49] kruvin opened #69 "Unable to remove rule created using iptables"
I have an issue in which rules I'm unable to remove a rule created using the original iptables utility. This also happens to me for rules created using the module but it's harder to reproduce.

I think the problem is related to the target comparison, specifically the _target_buf comparison in the end.

For example:

When I manually compare the rules I find it fails since

Thanks!

[2014-05-22 11:41] #69 closed, assigned to nobody

[2014-05-29 16:26] kruvin opened #71 "Table.flush fails when rules target inner chains"
Hi.

I found that Table.flush()  will fail if there are rules targeting chains within the table itself. This is caused by the fact that chains are deleted before all other chains are flushed, and it's not possible to delete a chain while there's a rule targeting it ("Too many links" error).
Additionally, the flush method should flush all chains but delete just the non-builtin ones.

[2014-06-04 06:53] #71 closed, assigned to nobody

[2014-06-06 19:12] exarkun opened #74 "_get_saved_buf breaks sys.stdout"
Here's a simple program that uses iptc and then tries to write something to stdout:

[code]

Unfortunately it fails:

[code]

This simple example is easy to fix to avoid this behavior, just replace `stdout` with `sys.stdout`.  However, real-world examples might not have this luxury.  For example, using Twisted's "trial" test runner together with iptc invariably explodes from deep inside the implem

[2014-06-08 18:21] reberhardt7 opened #76 "Cannot import iptc -- 'NoneType' object has no attribute 'throw_exception'"
I am running Python 2.7.6 in a clean virtualenv, and am trying to use python-iptables, but every time I try, the following happens:

[code]

I tried both `easy_install python-iptables` and doing `python setup.py build` from source, and that happened on both.  The OS is a clean install of Ubuntu 14.04 x64 Server.

[2014-06-15 13:19] #74 closed, assigned to nobody

[2014-06-15 13:23] #64 closed, assigned to nobody

[2014-06-15 13:24] #65 closed, assigned to nobody

[2014-06-15 14:31] #57 closed, assigned to nobody

[2014-07-11 11:45] majek opened #77 "Document `Rule`"
`Rule6` is documented. `Rule` class isn't.

[2014-07-12 20:11] Ttech opened #78 "Comment gives issues when pulling rules"
Traceback (most recent call last):
  File "iptables.py", line 6, in <module>
    for rule in chain.rules:
  File "/usr/local/lib/python2.7/dist-packages/iptc/ip4tc.py", line 1339, in _get_rules
    return [self.table.create_rule(e, self) for e in entries]
  File "/usr/local/lib/python2.7/dist-packages/iptc/ip4tc.py", line 1631, in create_rule
    return Rule(entry, chain)
  File "/usr/local/lib/py

[2014-07-24 15:46] #76 closed, assigned to nobody

[2014-07-24 16:15] #77 closed, assigned to nobody

[2014-07-24 16:31] #78 closed, assigned to nobody

[2014-07-25 14:35] majek opened #82 "Unable to create a rule that uses sets"
It appears it's impossible to create rule that mentiones sets

[code]

[2014-08-07 02:24] parisholley opened #85 "Unable to chain.delete_rule without a src"
I have the following rule in iptables:

[code]

when I loop through the chain, and call chain.delete_rule(), i get:

[code]

[2014-08-07 02:40] #85 closed, assigned to nobody

[2014-08-07 02:43] parisholley opened #86 "Abstract changing chain state when deleting rules"
Here is a python script I am using to remove iptable rules before a certain docker forward entry. My initial implementation just looped though the rules and would delete each loop, but it appears the underlying state of the chain changes, and any time you remove more than 1 rule it would fail. This way, I re-query for table chain and repeat the process.

My proposal, is if someone how the table ob

[2014-08-09 09:46] #82 closed, assigned to nobody

[2014-08-09 21:15] #86 closed, assigned to nobody

[2014-08-10 09:27] #44 closed, assigned to nobody

[2014-09-04 12:22] FedericoCeratto opened #87 "v. 0.4.0 not tagged on GitHub"
Hi and thanks for developing python-iptables.
Version 0.4.0 is on Pypi but is not tagged on GitHub

[2014-09-04 22:03] FedericoCeratto opened #90 "sphinx-build failing to build docs"
Building the docs from the package root with: sphinx-build doc <output_dir> fails as the files in iptc/ are not able to import version.py

An example:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/sphinx/ext/autodoc.py", line 335, in import_object
    **import**(self.modname)
  File "/tmp/python-iptables/iptc/**init**.py", line 10, in <module>
    from iptc.ip4tc imp

[2014-09-19 13:26] majek opened #91 "ipv6 rules created with iptc that match("udp") don't match anything"
Bear with me. First sanity check. Clear your ip6tables rules and follow:

[code]

To rephrase: rules look the same in "ip6tables -S" but the first one, created by iptc does not match any traffic.

Code of a.py:

[code]

(python-iptables used from pip, so 0.4.0)

[2014-09-21 10:09] #91 closed, assigned to nobody

[2014-09-25 21:50] bneff opened #97 "Extra "." in SSH Example"
The example block SSH with a range has an extra period on the line creating the iptc.Chain:
 i.e. "chain = iptc.Chain(iptc.Table.("

[2014-09-26 18:33] majek opened #98 "Creating hashlimit match segfaults iptc"
[code]

Ipv6 is irrelevant. This code crashes interpreter:

[code]

[2014-09-28 11:20] #97 closed, assigned to nobody

[2014-10-03 10:08] valeriy-belavin opened #100 "python-iptables create match-set rule"
Environment:
Ubuntu 14.04, iptables v1.4.21, ipset v6.20.1, Python 2.7.6

Preliminary steps:
sudo ipset -N BADIP iphash
sudo iptables -A INPUT -m set --match-set BADIP src -j DROP

Rules parser, from official examples, gives me the following output:

Rule proto: ip src: 0.0.0.0/0.0.0.0 dst: 0.0.0.0/0.0.0.0 in: None out: None Matches: set{'match-set': 'BADIP src'}
Target: DROP

That looks OK.

But,

[2014-10-06 10:10] ldx opened #101 "Call check() callback for extensions before committing a rule."
It seems the `check()` callback in extensions does not only check parameters, but can also adjust them. Therefor python-iptables should call it before committing a rule to make sure all parameters are up to date.

[2014-10-07 15:05] majek opened #103 "iptc get_all_parameters crashes on rules with negation (exclamation mark)"
[code]

source:

[code]

Quick workaround:
https://github.com/majek/python-iptables/commit/067e1b60a6e8234036369448756b41b1ca2a88c1

[2014-10-08 07:54] xmw opened #104 "Python3 support"
Are there any efforts to make this python3 compatible?

[2014-10-08 08:40] ourfirst opened #105 "cannot compile on centos6.5 and python2.6"
When I download master.zip and install python-iptables, errors occurred as the following output:
[root@localhost python-iptables-master]# python setup.py build
running build
running build_py
running build_ext
building 'libxtwrapper' extension
gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=ssp-buffer-size=4 -m64 -mtune=generic -D_

[2014-10-08 09:24] #105 closed, assigned to nobody

[2014-10-08 09:53] #98 closed, assigned to nobody

[2014-10-08 12:42] #100 closed, assigned to nobody

[2014-10-09 06:12] commonism opened #106 "get_all_parameters fail with inversion."
https://github.com/ldx/python-iptables/commit/4a68eb32792d4887ef869fd80455606086dfa88b

I propose something like

[code]

But it is a question how to represent the inversion.

[2014-10-12 19:29] #106 closed, assigned to nobody

[2014-10-12 19:42] #87 closed, assigned to nobody

[2014-10-12 19:42] #90 closed, assigned to nobody

[2014-10-13 09:13] #103 closed, assigned to nobody

[2014-10-13 12:19] #104 closed, assigned to nobody

[2014-10-21 23:32] allewis opened #109 "Attribute error"
I am using python 2.6 on Centos OS 6.5 with the latest release (0.5.0).  We immediately run into an issue while creating a Target:

 rule = iptc.Rule()
 rule.in_interface = "lo"
 rule.target = iptc.Target(rule, "ACCEPT")

Exception:

rule.target = iptc.Target(rule, "ACCEPT")
File "/usr/lib64/python2.6/site-packages/iptc/ip4tc.py", line 650, in **init**
self._create_buffer(target)
File "/usr/lib64/

[2014-10-22 08:48] Mr8 opened #110 "How can I set mutlpile ports?"
How can I set mutlpile ports? Yeah, please. thx

[2014-10-22 15:48] plwhite opened #111 "Possible bug in matching of rule targets"
I'm having trouble with matching rules, which makes me believe I have found a bug.
Specifically, if you create a rule that just jumps unconditionally to another chain,
add it to a chain, and then match it, the matching does not work. Some further
information below, including how to repro and the limited debugging
I have managed to do.

I'd very much appreciate any feedback on how to resolve this.

[2014-10-28 17:15] plwhite opened #112 "If you create "state" rules for IP v6, then you cannot create them for IP v4."
I just spent a few hours figuring out how to filter on state using python-iptables when there are both IPv6 and IPv4 rules. Since this was painful, it seems worth raising as an issue in case anybody hits the same problem, perhaps so a warning can go in the docs.

Some trivial sample code below showing the problem. The underlying issue seems to be that, although I can use state matching for either

[2014-10-28 23:07] ldx opened #113 "Load all extensions"
Iptables uses `init_extensions()` to load modules at startup. We should do the same to avoid failed match/target lookups when e.g. an alias is used.

This can be optional, e.g. `iptc.load_extensions()`.

[2014-10-28 23:07] #112 closed, assigned to nobody

[2014-10-30 15:30] #109 closed, assigned to nobody

[2014-10-30 15:48] #111 closed, assigned to nobody

[2014-11-04 02:43] thejuan opened #117 "Using time match changes time in python?"
I am running Ubuntu 14.04 and python-iptables v0.5.0 from pip
My local timezone is AEDT (Australian Sydney time during daylight savings)
If i run this code

[code]

I get

[code]

[2014-11-06 16:33] #117 closed, assigned to ldx

[2014-11-07 00:21] #110 closed, assigned to ldx

[2014-11-11 01:51] zbal opened #118 "Error loading iptc - XTABLES_DIR issue on aging CentOS 5"
Hi guys,

I'm able to install / load iptc without any problem on Ubuntu and CentOS 6 but am struggling on CentOS 5...

I end up with the following trace:

[code]

I can't find any package that offers xtables, the CentOS 5 version of iptables is 1.3 and I fear xtables was added in later version.

Have any of you tried to use `iptc` with CentOS 5? If so, how did you proceed?

Thanks

[2014-11-14 18:55] chutz opened #119 "0.5.0 breaks unicode strings with python2.7"
it appears that unicode strings get truncated to 1 character

[code]

[2014-11-15 19:45] #119 closed, assigned to nobody

[2014-11-26 03:12] #118 closed, assigned to ldx

[2014-12-01 17:02] perolwy opened #121 "can't commit: b'Resource temporarily unavailable'"
Sometimes commit() throws exception if commits aren't far from each other. Looks like it requires refresh(). The same problem if I edit iptables calling the iptables binary before commit() is called.

#BAD
#get chain from table
table = iptc.Table(iptc.Table.NAT)
table.autocommit = False
chain = iptc.Chain(table, 'PREROUTING')
#delete old rules
for rule in chain.rules:
	chain.delete_rule(rule)
#com

[2014-12-10 03:31] wojons opened #122 "--to-destination"
I have a rule that looks like the following.

[code]

I can get everything going but cant seem to get the " --to-destination" going.''

A few other flags that may be userful

[code]

[2014-12-16 22:47] devicenull opened #123 "Segfault when adding an ipset rule"
I'm seeing segfaults if I try to add an ipset rule where the set doesn't exist.  For example:

	import iptc

	chain = iptc.Chain(iptc.Table(iptc.Table.MANGLE), 'PREROUTING')
	rule = iptc.Rule()
	rule.target = rule.create_target('DROP')
	rule.dst = '1.2.3.4/255.255.255.255'

	match = rule.create_match('set')
	match.match_set = ['doesnt_exist', 'src']

	chain.append_rule(rule)

Once I create the set

[2014-12-19 13:04] majek opened #124 "Crash with "Python error: GC object already tracked""
Sometimes I get a python crash when running tests on my other app "Python error: GC object already tracked"

It's hard to reproduce and generally is going to be PITA.

Some random link on the internet:
http://pyrit.wordpress.com/2010/02/18/385/

Feel free to close this bug as too vague. Just flagging a potential problem.

I suspect it may be on the ipv6 code path, when I'm deleting rules from "raw

[2014-12-19 16:39] #124 closed, assigned to nobody

[2014-12-25 10:00] iming0319 opened #125 "Unable to import iptc in myCode.py ?"
hi:

I check the example document
I saw how to import iptc in my python console
But I didn't see "how to import iptc" (or python-iptables) in my python code
Please kindly teach me is this possible?
or I just miss this information?

Thanks a lot!

[2014-12-25 17:49] #101 closed, assigned to nobody

[2014-12-26 15:24] #125 closed, assigned to nobody

[2014-12-26 16:08] binhe22 opened #127 "sport and dport for get_counter"
For this, if I can get the port of the rule?

I have read the source code and I can not find the function or code trying to get the sport or dport.

Thanks a lot

[2014-12-26 21:37] #113 closed, assigned to nobody

[2014-12-27 10:40] #127 closed, assigned to nobody

[2014-12-31 09:31] caizixian opened #130 "How to know which port is being reported when using get_counters?"
I set iptables rule using `/sbin/iptables -A INPUT -p tcp --dport 80`.
When using rule.get_counters(), I only get a tuple contains TX RX. And when `rule.dst`, I only get `0.0.0.0/0.0.0.0`
How can I know which port is being reported when using get_counters? Using match?

[2014-12-31 21:55] nbartos opened #131 "Document which operations are atomic"
I'm attempting to make a module that will replace a single chain only inside a table atomically.  I've been digging a bit but I cannot figure out which operations are truly atomic.  For example, the command line utility iptables-restore is atomic at the table level.

[2015-01-01 11:02] ldx commented on #131
If you want to batch changes, then disable autocommit, and commit manually (iptables-restore does the same). The README has some documentation on how to do this. Let me know if you need help, and I can add some more info to the docs.

[2015-01-07 13:32] plwhite opened #132 "Could you please make tag 0.6.0 available on pypi"
Background to this request is that we need the fix for bug #111, which was fixed in 0.6.0 but not in 0.5.0. The most recent version available is 0.5.0 (https://pypi.python.org/pypi/python-iptables/0.5.0).

While we can manually install as a workaround, we'd like to just install by using `pip`.

Thanks

[2015-01-07 15:36] ldx commented on #132
I plan to make a new release sometime this week. Let me know if this is blocking you and I can prioritize it.

[2015-01-07 16:40] plwhite commented on #132
Thanks - if this is going to happen within a few days (or even a few weeks) then that would be perfect for us. We currently have some pretty hacky workarounds in place so it isn't hurting us too much in the short term, but I'd like those not to persist for too long.

[2015-01-10 22:44] #122 closed

[2015-01-10 22:44] ldx commented on #123
No response, so closing this. Feel free to reopen if this is still an issue.

[2015-01-10 22:44] #123 closed

[2015-01-10 22:44] #131 closed

[2015-01-11 11:53] ldx commented on #132
Done.

[2015-01-11 11:53] #132 closed

[2015-01-12 09:22] plwhite commented on #132
That's great, thanks.

[2015-01-18 03:10] skrzyp commented on #65
I have the same issue.
That error is thrown when I'm using custom kernel with bulit-in netfilter on Gentoo, so you need to provide other method for checking netfilter/iptables existence on running system.
IPython backtrace:
[code]

[2015-01-21 10:11] ldx commented on #65
@skrzyp I pushed a fix, can you confirm that this resolves your problem?

[2015-02-09 22:06] jta opened #135 "Target already registered when applying rule for both IPv4 and IPv6"
I'm hitting a problem when trying to insert rules to both iptables and ip6tables (v1.4.13). The minimal test script I can muster:

[code]

Running this gives me the following output:
[code]

This also seems to happen when trying to find matches.

[2015-02-09 22:53] ldx commented on #135
Hey @jta,

is this causing any other unwanted side effects? This is due to python-iptables making sure the extension is registered, but other than this message on stdout, should not cause any issues.

[2015-02-09 23:23] jta commented on #135
Interesting, I seem to hit a system exit. Tracing the error message to `iptables/xtables.c:xtables_fully_register_pending_target`:

[code]

[2015-02-10 05:30] caizixian opened #136 "Is there any mailing list for update notification?"

[2015-02-11 16:23] majek opened #137 ""no extension found for this protocol" messages printed"
What does this mean:

[code]

[2015-02-11 22:51] majek commented on #137
Looks like it happens when calling `list(chain.rules)`. Weird.

[2015-02-11 23:27] ldx commented on #137
Do you have code that reproduces this?

[2015-02-11 23:32] majek commented on #137
I'm really puzzled myself. I can't even find this string "no extension found for this protocol" in any of the sources.

[2015-02-11 23:38] majek commented on #137
Here is the bastard:

[code]

[2015-02-11 23:56] ldx commented on #137
This might happen if you use both IPv4 and IPv6. Latest version of iptables does not print this error message.

Let me know if this causes any issues besides the message on stderr.

[2015-02-11 23:57] ldx commented on #136
If you have a project on Github that depends on python-iptables, you can use pypi-notifier:

http://www.pypi-notifier.org/

Does this solve your problem?

[2015-02-12 00:00] ldx commented on #135
I have to install that specific version of iptables to test this. Give me a few days.

[2015-02-12 00:01] ldx commented on #130
Hm, I'm not sure I understand this.

Do you have some example code?

[2015-02-12 00:03] majek commented on #137
Ok. BTW, this looks simillar https://github.com/ldx/python-iptables/issues/29

[2015-02-12 00:08] ldx commented on #137
Yep, even the test suite produces this message with certain versions of iptables (when python-iptables is trying to load certain extensions for IPv6 that had already been loaded for IPv4). Ugly, but as far as I see there are no other side effects.

[2015-02-12 00:45] majek commented on #137
Confirmed. This is iptables being shitty. All works okay.

BTW, it would be nice if there was a well docmented and reliable way of pointing python-iptables to proper modules. I'm aware of XTABLES_LIBDIR, but then libxtables.so is being picked up from /lib. Then I set LD_LIBRARY_PATH but then libipset.so is being taken wrong, etc. I have not yet found a reliable way of running python-iptables with

[2015-02-12 00:45] #137 closed

[2015-02-12 01:20] caizixian commented on #130
Never mind. I've solved it.

[2015-02-12 01:20] #130 closed

[2015-02-12 01:20] caizixian commented on #136
Yes. Thx!

[2015-02-12 01:20] #136 closed

[2015-02-12 01:20] caizixian commented on #136
@ldx Actually I have a project using python-iptables. caizixian/tcpstat

[2015-02-12 12:52] ldx commented on #136
Cool, I'm always happy to see python-iptables being used for interesting use cases like this!

[2015-02-12 12:54] ldx opened #138 "Make it possible to load iptables libraries and extensions from an alternative location."
Also see #137 for a discussion.

[2015-02-12 12:55] ldx commented on #137
Hm, that's a very interesting feature, and probably could solve real issues. E.g. when a user does not want to update the system iptables install, but would like to use a recent version of iptables.

I created #138 to track this.

[2015-02-19 20:11] jazzmes opened #139 "Not finding libxtwrapper in python3.3"
In my environment library is file is named: ```libxtwrapper.cpython-33m.so```
It has an extra ```m```.

[code]

[2015-02-19 21:12] ldx commented on #139
Not sure where that ```m``` in the library name comes from. I have to check why this happens with Python 3.3.

[2015-02-19 23:25] jazzmes commented on #139
Seems to be from
[code]

[2015-02-20 00:35] #139 closed

[2015-02-20 07:18] jta commented on #135
Any luck in chasing this? I might try to upgrade iptables to see if I can replicate with later versions.

[2015-02-22 23:08] ldx commented on #135
I could not find a VM with 1.4.13, but tested with 1.4.12. Besides this line on stderr:

    /lib/xtables/libxt_standard.so: no "standard" extension found for this protocol

the script runs until the end.

What version of python-iptables do you use?

[2015-02-28 12:07] ldx commented on #135
Interesting thing, as I was working on #138, I bumped into this issue. Python-iptables might need to do some extra work to make sure it's not trying to load an already registered extension.

[2015-02-28 12:09] ldx commented on #138
In general, this works:

    sudo PATH=$PATH LD_LIBRARY_PATH=/tmp/iptables/lib python test.py

after installing iptables with a prefix of `/tmp/iptables`.

[2015-02-28 19:07] #138 closed

[2015-02-28 19:39] #135 closed

[2015-02-28 19:53] jta commented on #135
Thanks! Will check this out later.

[2015-02-28 20:45] ldx commented on #138
Ping @majek - now something like this works:

    sudo PATH=$PATH IPTABLES_LIBDIR=/tmp/iptables/lib XTABLES_LIBDIR=/tmp/iptables/lib/xtables python <script.py>

[2015-03-10 09:30] xadhoom opened #143 "Setting --name parameter in match rules"
Some match targets in iptables ( http://www.netfilter.org/documentation/HOWTO/netfilter-extensions-HOWTO.html#toc3.16 ) have --name in their parameters.
Unfortunately this cannot be set using match.name because name is protected.

Looking into the Match object __setattr__ method the parse method is used to set the parameters.

Is safe to call match.parse(name,val) to set the parameter "--name" ?
I

[2015-03-10 11:09] ldx commented on #143
Yes, in this case you can call `parse()`. It's a bit ugly, but changing `match.name` to `match.match_name` or something similar to avoid colliding with a parameter name in the extension would probably break existing applications/scripts.

[2015-03-10 11:13] xadhoom commented on #143
well, maybe is worth adding a new public method like "set_parameter" that is just an alias for parse that can be used instead of just passing from __setattr__ ? just to be more clear :)

[2015-03-15 16:55] ldx commented on #143
Good idea! Would you like to submit a pull request with this change?

[2015-03-17 09:31] anan-lee opened #145 "SIGSEGV for this module"
when i run below code:

rule = iptc.Rule()

set = iptc.Match(rule, 'set')
set.match_set = ['test', 'ddst,dst']

it closed with segmentation fault. ( i knew the 'ddst' is not exist. )

the question:
    how can i catch and handle this signal or let the program to  run gracefully?

[2015-03-17 14:06] ldx commented on #145
Can you tell me
- the version of python-iptables,
- the version of iptables and
- the linux distribution and its version you use?

A segfault should not happen no matter what you do with python-iptables.

Thanks!

[2015-03-17 15:06] anan-lee commented on #145
OK,  thanks for your feedback.
iptc module has been installed by pip and the version is "0.7.0" .
my operation system is CentOS release 6.3 (Final).
the version if iptables is v1.4.7.

And there was any other information you needed?

[2015-03-19 10:32] xadhoom commented on #143
Created, hope is correct for you. Closing this one.

[2015-03-19 10:32] #143 closed

[2015-03-22 18:22] #145 closed

[2015-03-22 18:23] ldx commented on #145
@anan-lee this is now fixed in latest master. It will be included in the next release too.

Thanks for reporting this!

[2015-04-10 11:47] arekm opened #149 "doesn't build with python3"
[code]

2to3 open codes it like
[code]

but also things like
[code]

[2015-04-10 11:53] arekm commented on #149
Ups, git version looks ok :)

[2015-04-10 11:53] #149 closed

[2015-06-03 22:23] jta opened #150 "XTablesError: can't find match"
In release `0.8.0` I'm running into errors when trying to configure a table:

[code]
This exception is only raised the second time a try to configure the table from within a process that does both IPv4 and IPv6 configuration. I've managed to reduce the offending code to the following return statement, which was indeed an addition between `0.7.0` to `0.8.0`:

https://github.com/ldx/python-iptables/

[2015-06-04 08:52] ldx commented on #150
Hey,

can you show me a script that reproduces this?

Thanks!

[2015-06-11 06:56] jta commented on #150
Sorry, took me a while to break down a reasonable example to replicate. Here goes:

https://gist.github.com/jta/7d7e51e6c4cf0b355232

This script just reconfigures `mangle` `POSTROUTING` and adds two rules: one manipulating TTL and another DSCP. It does this for both IPv4 and IPv6.

The first time round everything goes fine, the second time round when create the `TTL` target I get the error, in th

[2015-06-21 21:59] ldx commented on #150
Hi @jta, the branch `issue150` fixes this issue.

Can you confirm that your script works now on your end?

[2015-06-23 19:22] #150 closed

[2015-06-23 22:35] frankspeak opened #152 "Cross-platform iptables management?"
Hi,

I'm looking for the best means to update iptables via a secure self-contained cross-platform agent; various flavors of Linux to start.

Before going too far with python-iptables, any thoughts as to whether it would be a good fit?  Could a bundle which includes a custom iptables install be made cross-platform for example?

Thanks in advance.

[2015-06-23 22:43] ldx commented on #152
Hey,

it depends on what you need exactly. Probably you'll only find out if you implement a simple proof of concept. But that should be pretty easy with Python.

To get you started, python-iptables can use iptables installed to a custom directory, see https://github.com/ldx/python-iptables/blob/master/README.md#using-a-custom-iptables-install for more information.

Let me know if you have any ques

[2015-06-23 23:27] frankspeak commented on #152
Thanks!

Frank.

[2015-06-23 23:27] #152 closed

[2015-06-24 21:04] jta commented on #150
Works great, thanks!

[2015-06-24 21:11] ldx commented on #150
Happy to hear! This will be part of the next release.

[2015-06-29 20:41] RickDavis84 opened #153 "chain.delete_rule fails with iptc.xtables.XTablesError: conntrack: no such parameter state"
I'm unable to delete a rule that has a tcp & conntrack match, but it works if the rules don't have the statematch added to them...this may be related to #46

Linux Version:
[code]
IPTables Version:
[code]
IPTC - Failed with both 0.8.0 and 0.9.0-dev:
[code]
[code]
Rough Source Code:
[code]
Error Message:
[code]
IPTables output:
[code]
If you comment out the statematch lines in addRule, flush the ip

[2015-06-29 20:59] ldx commented on #153
Can you give latest master a shot? Your example code works fine here with it.

[2015-06-29 21:19] RickDavis84 commented on #153
When I pulled the latest version it was 0.9.0-dev, which gave me the same error, did it work for you on ubuntu 15.04?

[2015-06-29 21:23] ldx commented on #153
Can you check what commit master was at when you cloned? I tested this on debian 8, but I can also set up an ubuntu vm.

[2015-06-29 21:38] RickDavis84 commented on #153
I pulled the latest from this morning (about an hour before submitting this issue)...

# git rev-parse --verify HEAD
545069b570e4606e9d80a0d78c864defe75b957d

[2015-06-29 22:03] RickDavis84 commented on #153
I just tested on a CentOS 6.6 box with python2.6.6 and it worked fine with both iptc 0.8.0 and 0.9.0-dev, must be something specific with ubuntu

[code]

[2015-06-30 01:41] jta opened #154 "`_xtables_find_target` gets stuck."
This seems related to #150, as the fix broke something else. Test script to replicate:

[code]

Running this will cause the script to stall on the creation of the second target. In particular, it gets stuck on this section in xtables.py:

[code]

[2015-06-30 08:00] ldx commented on #154
I can reproduce this. Looking into it.

[2015-06-30 08:31] ldx commented on #154
@jta can you check the branch `issue154`? It should fix this problem.

[2015-06-30 17:41] jta commented on #154
This seems to work fine now, thanks for the quick fix!

[2015-06-30 17:41] #154 closed

[2015-06-30 21:51] RickDavis84 commented on #153
I was also able to reproduce this bug on CentOS 7 which has iptables v1.4.21...have you been able to reproduce the issue?

[code]

[2015-06-30 22:15] ldx commented on #153
Yes, I see the same.

[2015-07-04 10:51] ldx commented on #153
@RickDavis84 branch `issue153` has a fix. Let me know if it fixes your problem.

[2015-07-04 12:01] #153 closed

[2015-07-06 22:36] RickDavis84 commented on #153
That fixed the issue on my ubuntu box, haven't tested the centos6.6 one yet but I'm sure it's fine. Thanks for the super fast bug fix!

[2015-07-13 18:46] RickDavis84 commented on #153
It looks like this works well on CentOS 7, which has iptables v1.4.21/Python 2.7.5, but CentOS 6.5 & CentOS 6.6 both get a glibc error if I add a rule which has both a TCP port match and a statematch. The rule gets added into iptables, but because of the glibc error my script crashes and I can't add more rules.

I tried using python 2.7.10 in a virtualenv on the centos6.5 & 6.6 boxes, but it didn'

[2015-07-14 14:56] ldx commented on #153
Sorry about that! Let me set up a CentOS6 VM to check what is wrong.

Do you use latest master or 0.9.0?

[2015-07-14 16:32] RickDavis84 commented on #153
No problem, I'm going to upgrade my box to CentOS 7 so I can move forward...I was using the version in the commit you specified - 942a50d - which was 0.9.0-dev

[2015-07-14 16:40] ldx commented on #153
In the meantime I released 0.9.0, can you check that version too?

[2015-07-14 17:14] RickDavis84 commented on #153
Sure thing, i'll give it a shot this evening

[2015-08-11 05:59] edwin--zhao opened #157 "scripts insert two or more rules,will crash"
[code]

run scripts get this:

[code]

and iptables rule has insert success:

[code]

if use two function test() test1()，test() run finish ,scripts crash

[2015-08-11 15:36] ldx commented on #157
Looks like this is the same as #153.

Can you tell me your OS and iptables versions?

[2015-08-11 16:39] edwin--zhao commented on #157
CentOS release 6.6 (Final)

iptables v1.4.7

0.10.0-dev

Python 2.6.6

[2015-08-11 16:39] edwin--zhao commented on #157
CentOS release 6.6 (Final)

iptables v1.4.7

0.10.0-dev

Python 2.6.6

[2015-08-11 16:42] edwin--zhao commented on #157
before comment ,I google find #153 ,then update python-iptables from git

[2015-08-18 15:49] serfer2 commented on #157
Hi,

same error when executing script detailed in this module doc:
https://github.com/ldx/python-iptables#chains-and-tables

Details:
 - SO:  CentOS release 6.7 (Final)
 - iptc version:  0.9.0  (installed from pip install python-iptables)
 - Iptables:  iptables-1.4.7

[2015-08-19 15:23] serfer2 commented on #157
Any solution for this issue?

[2015-08-19 15:39] ldx commented on #157
@serfer2 works with newer versions of iptables. I'm looking into fixing it with 1.4.7, but it will take a bit of time.

[2015-08-19 16:05] serfer2 commented on #157
Thank you so much @Idx ;-)

[2015-08-26 05:37] renecunningham commented on #157
I can confirm I'm seeing this on CentOS 6 but not CentOS 7.

See gist below for triggering bug on CentOS 6.4. I can also confirm bug exists with CentOS 6.7.

https://gist.github.com/renecunningham/eef7345e7c1fd461b151

Work around for me right now is to revert to 0.8.0 by pip installing directly from github using e4a0ad.

[code]

See gist below for work around too.

https://gist.github.com/renecun

[2015-08-26 09:31] Azidburn opened #158 "Problem with recent Module"
Hi,

i will use recent match in my Code.
I alway get "AttributeError: can't set attribute".

Here is an example Code
[code]

I think the issue is that the recent module have a parameter called "name". I can't set any value to this parameter.

My version are
python: 2.7.9
iptables: 1.4.21
iptc: 0.9.0

[2015-08-29 21:10] ldx commented on #121
No reply, closing.

[2015-08-30 19:23] #157 closed

[2015-08-30 19:24] ldx commented on #157
@edwin--zhao @serfer2 @renecunningham this has been fixed in latest master, let me know if you still experience any problems.

[2015-08-30 19:46] #158 closed

[2015-08-30 19:47] ldx commented on #158
@Azidburn fixed in latest master, thanks for reporting this.

[2015-09-01 01:43] edwin--zhao commented on #157
@ldx  ,I am sorry,last week I changed jobs, I use iptables-python in express company.The new company temporarily no environment test

[2015-09-01 10:24] ldx commented on #157
No worries, good luck with your new gig!

[2015-10-05 14:20] goors opened #161 "--line-numbers maybe?"
I can not seam to find line numbers in my rules. It would be great if you can add that.

The when I want to delete I do not have to match everything that i added before but just to do simple delete by line number.

I mean all of this code:

to delete just one rule

[2015-10-08 21:35] ldx commented on #161
Thanks for the suggestion, I'll look into this.

[2015-10-14 05:34] jacobluo opened #162 "how can i get physdev value?"
eg: num   pkts bytes target     prot opt in     out     source               destination
1      265 81070 neutron-openvswi-sg-chain  all  --  *      *       0.0.0.0/0            0.0.0.0/0            PHYSDEV match --physdev-out tapc2dc0a00-c8 --physdev-is-bridged

how can i get  --physdev-out tapc2dc0a00-c8 --physdev-is-bridged value use python-iptables ?

[2015-10-14 06:32] jacobluo commented on #162
i get it,  match.physdev_out
tks

[2015-10-14 06:32] #162 closed

[2015-10-26 19:41] tomislacker commented on #161
+1

Just ran into this myself in a similar situation.  Was looking to output a table of rule number, target, and counters for diagnostics.  I started playing around in the code but haven't gotten anywhere.  I'll send up a push if I do.

[2015-10-28 09:21] eshow101 opened #163 "set match wrong in uwsgi+ web.py"
I write a app.py  base on web.py. It can work good in 'python app.py', bug set match wrong in uwsgi mode.

    rule = iptc.Rule()
    rule.src = ip
    match = iptc.Match(rule, "mac")
    match.mac_source = mac
    rule.add_match(match)

Traceback (most recent call last):
  File "/lib/python2/web/application.py", line 239, in process
    return self.handle()
  File "/lib/python2/web/application.py

[2015-10-28 23:47] ldx commented on #163
Hey,

can you tell me what version of Python and python-iptables you use, and what distribution/version this runs on?

The following snippet works on my Debian laptop:

    import iptc

    rule = iptc.Rule()
    rule.src = "1.2.3.4"

    match = iptc.Match(rule, "mac")
    match.mac_source = "11:22:33:44:55:66"
    rule.add_match(match)

    rule.create_target("ACCEPT")

    table = iptc.Table("f

[2015-10-29 03:26] eshow101 commented on #163
Hi
iptables v1.4.18
Python 2.7.5+
The code  works in single file such as "python app.py".
but in nginx+uwsgi+web.py ,the 'Match' be wrong.When I disable 'Match',it work right.

[2015-10-29 13:53] Azidburn opened #164 "Problem with Dualstack Rules and Geoip Match"
Hey,

i try to add a geoip rule for iptables and ip6tables. The issue always happens on the second rule.
The order IPv4, IPv6 or IPv6, IPv4 makes no difference. Adding only IPv4 or IPv6 in a run works.

Here a demo code
[code]

My version are
[code]
I tried to add the rules manual with iptables and ip6tables. Both works without problems.

thanks
Marc

[2015-11-01 05:47] ldx commented on #163
@eshow101 can you tell me how to reproduce this?

Also, do you use python-iptables from pypi or latest master from GitHub?

[2015-11-01 05:52] ldx commented on #161
@goors @tomislacker can you guys show me an example how this would ideally work?

[2015-11-01 05:58] ldx commented on #164
I don't have a geoip match installed with iptables on my laptop, but changing the match to another extension, this works with latest master from git.

[2015-11-01 13:42] goors commented on #161
I am not sure that I understand you correctly. Lets say you have something like this:

<pre>$bash: iptables -L DOCKER -n --line-numbers</pre>

That will list DOCKER chain like this:

<pre>
Chain DOCKER (1 references)
num  target     prot opt source               destination
1    ACCEPT     tcp  --  0.0.0.0/0            172.17.0.1           tcp dpt:9002
2    ACCEPT     tcp  --  0.0.0.0/0

[2015-11-02 07:03] ldx commented on #161
This should work:

    table = iptc.Table(iptc.Table.FILTER)
    chain = iptc.Chain(table, "FORWARD")
    chain.delete_rule(chain.rules[1])

The list `chain.rules` is zero-indexed, though, while `--line-numbers` in `iptables` is 1-indexed.

Does this help?

[2015-11-02 15:37] tomislacker commented on #161
@ldx I think we all realized we could access the rules like that.  I'm not sure if @goors would agree, but my interest in this issue came along due to the lack of clarity in making the assertion that your above code example makes. *(`rule[0]` -> "Line 1", `rule[1]` -> "Line 2", etc..)*  It's not the fault of the python-iptables project, but rather the iptables project.

Given that [_get_rules()](.

[2015-11-02 17:33] ldx commented on #161
@tomislacker as far as I know, that assumption is correct, rules are always given back in order and are 1-indexed from the viewpoint of iptables.

Unfortunately, python-iptables could only add rule number information to the rule objects via quite some extra runtime overhead (always traversing all the rules in the chain to make sure numbers are not off, e.g. when rules have been added/removed in an

[2015-11-02 17:39] tomislacker commented on #161
Yea I'm tracking, that's about the conclusion I came to as well and I don't personally think it's worth it.  I'm of the opinion that for the use-case of enumerating all rules in a chain, using the list index is sufficient.  And for all other use cases, the developer should be mindful *not* to use rule numbers as they cannot be positively identified without additional overhead *(which they could pr

[2015-11-02 18:40] ldx commented on #161
Sure, sounds like a good idea. Can you send a PR?

[2015-11-03 05:40] #161 closed

[2015-11-03 12:23] Azidburn commented on #164
The geoip match is from xtables-extensions. I tried the latest master from git, but no changes.

Here the Stacktrace:

[code]

[2015-11-05 23:16] ldx commented on #164
Installed geoip and managed to reproduce the problem.

Unfortunately, this is due to the fact that the geoip extension is out of tree and has a different init function than the built-in iptables extensions. Python-iptables can't initalize it for the second protocol since the init function is static.

The only way I see to make this work is to patch this in `extensions/libxt_geoip.c`. Let me know i

[2015-11-18 10:27] l-flame opened #166 "Compare rules"
I don't quite sure, if it's the right place to ask, but how can one compare one rule instance with other?

I want to do something like this:
[code]

[2015-11-19 05:25] ldx commented on #166
@l-flame this will work if you add a target. Without a target, your rule is not complete.

    #!/usr/bin/env python

    import iptc

    def get_def_rule():
        rule = iptc.Rule()
        rule.in_interface = "eth0"
        rule.src = "192.168.1.0/255.255.255.0"
        rule.protocol = "tcp"
        rule.create_target("ACCEPT")
        return rule

    table = iptc.Table('filter')
    chain =

[2015-11-19 19:29] l-flame commented on #166
Thank you.

I search in the docs, but didn't found it. Sorry.

[2015-11-19 19:29] #166 closed

[2015-11-19 21:18] ldx commented on #166
No worries! Happy this helped.

[2015-11-21 17:14] ldx commented on #164
@Azidburn here's what you need to change in `extensions/libxt_geoip.c` so it'll work with python-iptables:

    diff -ruN extensions-orig/libxt_geoip.c extensions/libxt_geoip.c
    --- extensions-orig/libxt_geoip.c       2015-11-21 09:14:11.769756784 -0800
    +++ extensions/libxt_geoip.c    2015-11-21 09:12:41.037627285 -0800
    @@ -308,7 +308,7 @@
            },
     };

    -static __attribute

[2015-11-21 17:15] #164 closed

[2016-01-07 13:45] RaginBajin opened #169 "Accessing Network Namespaces"
Has anyone done anything using python-iptables within a network namespace?  A quick example would be great.

[2016-01-07 18:36] ldx commented on #169
Hey @RaginBajin, can you give me an example how that works via the command line? Or do you mean changing iptables rules in a container while your Python application using python-iptables runs on the host (i.e. you want to step into the container namespace)?

[2016-01-07 18:48] RaginBajin commented on #169
Sure @ldx

Here's an example command that I would run:

ip netns exec qrouter-XXXXXXXXXXXXXXXXXXXXX iptables -t nat -I OUTPUT -d 1.2.3.4/32 -j DNAT --to-destination 192.168.0.10

This would put an IPtables rules in the NAT table for that particular network namespace.

[2016-01-07 19:14] ldx commented on #169
This project: https://github.com/larsks/python-netns might help. I haven't tested it, but something like this:

    import netns

    with netns.NetNS(nsname='myns'):
        <use python-iptables here>

should work.

Let me know how it goes.

[2016-01-07 19:57] RaginBajin commented on #169
Oh man... That works great.. Saved me a ton of time and parsing.. Thank you soooo much..

[2016-01-07 19:57] #169 closed

[2016-01-29 03:54] thejuan commented on #121
Adding refresh after a call to commit fixed the issue for me

[2016-02-03 09:08] Tohichi opened #170 "problem while importing iptc"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build/bdist.linux-x86_64/egg/iptc/__init__.py", line 10, in <module>
  File "build/bdist.linux-x86_64/egg/iptc/ip4tc.py", line 13, in <module>
  File "build/bdist.linux-x86_64/egg/iptc/xtables.py", line 699, in <module>
AttributeError: 'NoneType' object has no attribute 'throw_exception'

[2016-02-03 18:49] ldx commented on #170
How did you build/install python-iptables? This exception indicates the xtwrapper library is not found; it is created when python-iptables is built.

[2016-02-04 07:53] davidmontgom commented on #170
I have the same issue.  I did via easy_install.  So what is the solution?

[2016-02-04 18:52] ldx commented on #170
@davidmontgom can you tell me what OS, iptables and python-iptables versions you use? I'll try to repro it.

[2016-02-15 12:23] Tohichi commented on #170
kali 2.0, iptables v1.4.21 and latest version of python-iptables. thanks.

[2016-02-17 06:10] ldx commented on #170
Let me set up a VM and try to reproduce this.

[2016-02-18 00:09] ldx commented on #170
@Tohichi does this:

    $ sudo python setup.py install_lib

fix the problem? It seems the native library is not installed when using just `sudo python setup.py install`.

[2016-03-02 20:32] campbellr commented on #121
I'm seeing the same problem and even a `refresh()` after a `commit()` doesn't work.

So far iIve had some success with also adding a `refresh()` after instantiating `iptc.Table`

Can we re-open this?

[2016-03-02 22:42] ldx commented on #121
@campbellr sure. Do you have some example code that reproduces the problem?

[2016-03-02 23:05] campbellr commented on #121
@ldx thanks. I'll work on stripping my code down into a usable example.

btw, my comment about adding a refresh after insantiating `iptc.Table` was actually a fluke. I've hit the problem again since.

[2016-03-03 18:46] campbellr commented on #121
@ldx here's a script I came up with to reproduce my issue:

https://gist.github.com/campbellr/9b95d9df5b89fafbf4dc

Note that even though the iptables operations are serialized with a lock, the script still fails with a "Resource temporarily unavailable".

That being said, I don't seem to be able to his the problem when using multiple threads, just multiple processes.

[2016-03-03 22:59] ldx commented on #121
@campbellr that makes sense - iptables uses its own lock internally, and will give you the "Resource temporarily unavailable" error message when you're trying to perform multiple operations at the same time.

Do you have a use case for parallel iptables operations? You might need to serialize these e.g. via a queue and a worker process.

[2016-03-03 23:48] ldx commented on #121
Another thing that will help: you should call `table.refresh()` before `table.commit()` to make sure your the table is up to date:

    #!/bin/env python3
    import iptc
    import multiprocessing

    def drop(src, dst):
        """Drop all packets from src to dst"""
        table = iptc.Table(iptc.Table.FILTER)
        rule = iptc.Rule()
        rule.target = iptc.Target(rule, 'DROP')
        r

[2016-03-03 23:49] campbellr commented on #121
If you look closely at my example I actually do serialize the operations with a multiprocessing.Lock, which is why I'm confused.

Of course, I could also be doing it wrong...

[2016-03-04 00:03] ldx commented on #121
@campbellr correct, pls see the code example above - this works for me without errors.

[2016-03-04 02:23] campbellr commented on #121
That solution works for me too, thanks! (although i don't really understand why)

My use case is probably not that common. I have a suite of tests that uses iptables to simulate network partitions between docker containers and I ran into this attempting to parallelize those tests.

[2016-03-04 18:52] ldx commented on #121
The two main changes in my code:
- Disable `autocommit` when starting up. No reason to enable it if before a `commit()` it always gets disabled.
- Calling `refresh()` makes sure that we don't have a "stale" state cached in iptables before a commit.

[2016-03-04 18:52] ldx commented on #121
Closing since this seems to be fixed.

[2016-03-04 18:52] #121 closed

[2016-04-01 14:42] centric-jim opened #171 "Source and Destination Port(s)"
I have a requirement to parse iptables rules  for servers where IPTables rules are managed by Puppet.  I wanted to use your module to do this but I don't see where I can determine the source (sport(s)) or destination (dport(s)).  I'm very sorry if I'm missing something where I can determine this.

Thank you

[2016-04-21 16:28] seglberg opened #172 "Unknown xtables version 11"
It appears that this package needs to be updated to work with the latest version of iptables (1.6.0), which was just pushed out to Arch.

In the mean time, we will downgrade back to 1.4, but are curious if there is a timeline to add support for 1.6?

[2016-04-22 00:16] morwel opened #174 "get_config_var("EXT_SUFFIX") returns None with Python 3.2"
I'm running Debian Wheezy with Python 3.2.3.
In iptc/util.py in function _find_library(*names): get_config_var("EXT_SUFFIX") gets called and returns None and so the import fails
Calling get_config_var("SO") is valid until python 3.3 and returns '.cpython-32mu.so'. So I think get_contig_var("SO") should be used instead if version_info <= (3, 3).

The pice of code i'm taking about.
[code]

[2016-05-02 20:02] yofreke opened #175 "segfault when running in uwsgi"
Hi, I am experiencing an issue while running in uwsgi.  My code works when run using `python bin.py`, but when my server is running with uwsgi it segfaults when trying to set `match.dport = "12345"`.  Was wondering is this a problem on my end or with uwsgi compatibility?

versions:
python: 2.7.10
uwsgi: 2.0.9 and 2.0.12
python-iptables: a0cafb43c1f48a49da1e30cb83e5e0c3608b1491
iptables: v1.4.21

[

[2016-05-03 04:38] yofreke commented on #175
Update:
Tried gdb, no luck. Tried lldb, no luck.  Tried lldb-3.8, money.

Determined that the issue has to do with [optarg](http://linux.die.net/man/3/optarg)

Not garbage trace:
[code]

The issue is that `optarg` goes from valid -> null after this line (not sure why, I assume that it is not playing nice with uwsgi): <https://github.com/qris/iptables/blob/d225d979534c2accc864504475e927c6b265f9b3/e

[2016-05-11 14:30] Arun-Rajput opened #176 "Hi I am using this module in openwrt 15.05, I am getting following issue: raise XTablesError("can't find target %s" % (name)) iptc.xtables.XTablesError: can't find target DROP"

[2016-05-11 14:32] Arun-Rajput commented on #176
following is the output of ls /lib/xtables
libipt_CLUSTERIP.so   libxt_NFLOG.so        libxt_iprange.so
libipt_DNAT.so        libxt_NFQUEUE.so      libxt_ipvs.so
libipt_ECN.so         libxt_SECMARK.so      libxt_length.so
libipt_LOG.so         libxt_SET.so          libxt_limit.so
libipt_MASQUERADE.so  libxt_SYNPROXY.so     libxt_mac.so
libipt_MIRROR.so      libxt_TCPMSS.so       libxt_mark.so
libi

[2016-05-11 14:34] Arun-Rajput commented on #176
first i found xtables_version issue, somehow i resolved that after that i got "Can't find protocol" error,I resolved that too..but now i am getting this error, not able to resolve it, would you please help me out.

[2016-05-12 13:06] jroeland commented on #172
any updates on this?

[2016-05-12 13:48] seglberg commented on #172
I just submitted a proper PR #177 to resolve this.

[2016-05-12 22:58] ldx commented on #176
@Arun-Rajput can you tell me what version of iptables and python-iptables are installed on that box?

[2016-05-13 20:35] #172 closed

[2016-05-30 18:19] agalauner-r7 opened #178 "'Invalid argument'"

[2016-05-30 18:24] agalauner-r7 opened #179 "'Invalid argument' during hashlimit configuration"
Hi,

I'm trying to use this library to implement a rate-limiting rule using hashlimit as follows:

    table = iptc.Table(iptc.Table.FILTER)
    table.autocommit = False

    input_chain = iptc.Chain(table, "INPUT")

    rule = iptc.Rule()
    rule.protocol = "tcp"

    conntrack_match = rule.create_match("conntrack")
    conntrack_match.ctstate = 'NEW'

    hashlimit_match = rule.create_match("ha

[2016-05-31 15:36] #178 closed

[2016-06-14 16:37] kbielefe opened #180 "Need support for REJECT target and --reject-with types"
As far as I can tell, python-iptables does not currently support the `REJECT` target and the --reject-with types:

- icmp-net-unreachable
- icmp-host-unreachable
- icmp-port-unreachable
- icmp-proto-unreachable
- icmp-net-prohibited
- icmp-host-prohibited
- icmp-admin-prohibited

These targets are important for many firewall applications.  We are willing to submit a pull request for this if someon

[2016-06-14 19:04] kbielefe commented on #180
Never mind.  Figured out the documentation.

[2016-06-14 19:04] #180 closed

[2016-06-14 20:04] ldx commented on #180
@kbielefe out of curiousity, did you have to change anything in your code to make this work?

[2016-06-14 20:25] kbielefe commented on #180
I did it like below.  It seems straightforward enough, once you know what to look for.  `"REJECT"` by itself works just with `create_target`, but defaults to `icmp-net-unreachable`, which makes web browsers retry for a minute or so.  `icmp-host-prohibited` makes them give up right away, which is what we needed for our application.

[code]

[2016-06-23 07:28] stinnux commented on #170
I had the same problem. running `python setup.py install_lib` solved it.

[2016-06-26 20:34] #170 closed

[2016-06-26 20:34] ldx commented on #163
No reply, closing.

[2016-06-26 20:34] #163 closed

[2016-06-26 20:35] ldx commented on #171
Hey, can you elaborate, preferably with an example?

[2016-06-26 20:43] #174 closed

[2016-06-26 20:44] ldx commented on #176
No reply, closing.

[2016-06-26 20:44] #176 closed

[2016-06-26 20:49] ldx commented on #179
@agalauner-r7 can you try adding `hashlimit_match.hashlimit_htable_expire = '1000'` as a match parameter? That should fix your problem.

[2016-06-26 20:51] ldx commented on #175
So `optarg` is a global variable in libc - any chance uwsgi changes it?

[2016-06-27 02:00] yofreke commented on #175
I ended up just writing a CLI wrapper with a similar API python-iptables.  After debugging / modifying iptables for while, I decided that it was not worth the time.  After looking at the source for a while, my conclusion is that iptables assumes that it is not being bound to, and that it is a standalone cli.  Without a lot of work, it will be difficult to ensure that it plays nice as a library.

I

[2016-06-28 09:25] mexicarne opened #182 "AttributeError: 'NoneType' object has no attribute 'throw_exception'"
Hello,

I'm trying to make python-iptables work on Ubuntu 16.04 x64. I did git clone from this repository, and built packages with dpkg-buildpackage using debian/ directory from repository. Then installed from created package. Getting this upon import iptc:

[code]

It looks like it's because libxtwrapper installed as /usr/lib/python2.7/dist-packages/libxtwrapper.x86_64-linux-gnu.so, not as /usr/l

[2016-06-28 09:37] mexicarne commented on #182
Just for the reference, I saw issue #76 and tried to reboot and to build package with zip_safe = False in setup.py, but to not avail. Anything I was able to google doesn't resolves the issue for me.

[2016-06-28 09:42] mexicarne commented on #182
Also tried to build package with replacing

[code]
with
[code]
but still getting the same error upon importing.

[2016-06-28 11:05] mexicarne commented on #182
Ok, I was able to find the problem. The problem is in utils.py._find_libraries(). It doesn't using standard module imp or something and hardcodes the library path like that:
[name, "lib" + name, name + ext, "lib" + name + ext]

So there is no way to work on ubuntu out of the box (w/o creating a symlink manually). May be it's better to switch to something more portable, like imp module:

[code]

[2016-06-28 11:15] mexicarne commented on #182
And here is a quick hack to make it working (for someone how may google this issue before the proper resolution found):

[code]

[2016-06-28 17:07] ldx commented on #182
@mexicarne interesting. Can we leverage `imp.find_module()` instead of the `libnames` array?

[2016-06-28 17:09] ldx commented on #175
Yeah, that makes sense. Even though iptables comes with shared libraries, there are a few things that are not meant for this use case.

[2016-06-28 17:23] mexicarne commented on #182
I believe yes, but can't come with exact patch at the moment. I just throw the idea :). Anyway, it's not your fault that debian/ubuntu changing the installed filename, and this is why the problem is not reproducible via pip/easy_install. But it would be great to support this as an exception for debian/ubuntu userbase.

[2016-06-30 09:08] NevenLeung opened #183 "How to call the final_check() to check a rule before inserting"
I want to use the final_check() to check if a same rule is in the chain that i want to add a rule. If the rule exit, cancel the inserting, instead, insert it. If possible, can i get how many the same rule in the chain?

How can i do this, can someone explain the how the rule.final_check() of chain.delete_rule() works and tell me how to call final_check() correctly?
@ldx

[2016-07-03 18:57] ldx commented on #183
Hey, `final_check()` is probably not what you're looking for here. You can just iterate through a chain and compare rules. Something like this should work:

[code]

[2016-07-07 08:26] NevenLeung commented on #183
Thanks, i think it is supposed to be a check function that can check is a same rule in a chain. Yes, i used such a way to delete the matched rules.

I used another approach to check if any the same rule as the matched one in the chain:

`import subprocess`
`subprocess.call(['iptables', '-C', 'INPUT', '-p' ,protocol, '-s', ip, '--dport', port, '-j', policy])`

using the iptables command in shell, b

[2016-07-07 08:26] #183 closed

[2016-07-11 12:14] samnet opened #184 "erratic results"
Hello dear ldx,

I m working on (dis)allowing some machine in my network to use the internet.
 I have an issue with the allowFwd method below and I m not sure where the problem lies. This function is supposed to translate the instructions:
[code]
Simple enough...
The thing is, that running
[code]
results in FORWARD successively looking like:
[code]
I.e., while the first call to allowFwd has create

[2016-07-12 10:54] #184 closed

[2016-07-12 17:27] ldx commented on #184
Hey @samnet, did you manage to figure this one out?

[2016-07-14 10:16] samnet commented on #184
Thx for this answer.
I was not able to have it work... I think that the issue had to do with the autocommit/commit() bits of denyFwd().
For the moment, I switched to the (not optimal) other way described in the doc:

[code]
it does behave well :).

Thank you

[2016-07-21 21:49] agalauner-r7 commented on #179
Thanks, that worked fine.
I think the default for that parameter is 10000 though instead of 1000, so I changed that for my code.

Thank you for your help!

[2016-07-21 21:57] ldx commented on #179
Awesome!

[2016-07-21 21:57] #179 closed

[2016-07-23 12:36] Pinsonbavard opened #185 "python-iptables installation error"
Hi guys,

I am trying to install python-iptables using pip but I get the following error called "failed with exit status 2"

You can view the error message below. Thanks

![iptable-err](https://cloud.githubusercontent.com/assets/6134716/17077896/646b0326-5097-11e6-9970-975bbd933d5a.png)

[2016-07-23 15:23] ldx commented on #185
Hey @Pinsonbavard, is this on Windows? Iptables is Linux only.

[2016-07-23 18:17] Pinsonbavard commented on #185
Wow, thank you very much Idx

[2016-07-23 20:03] Pinsonbavard commented on #185
So are you saying it will work on any Linux PC?

[2016-07-23 20:07] ldx commented on #185
It supports a wide range of iptables versions. Let me know if something is not working on a Linux box, together with info on your distribution on iptables version.

[2016-07-23 20:14] Pinsonbavard commented on #185
Okay, also what alternative can be used for Windows OS, do you have any in mind?

[2016-07-23 20:21] ldx commented on #185
I have no idea, haven't used Windows in a long time. :)

[2016-07-23 20:30] Pinsonbavard commented on #185
So to use a Linux OS as a beginner, suggest an  OS for me

[2016-07-23 20:35] ldx commented on #185
You can give Ubuntu a try. :)

[2016-07-23 20:54] Pinsonbavard commented on #185
Okay, thanks ldx

[2016-07-23 20:54] #185 closed

[2016-07-24 16:08] ldx commented on #184
Any chance you're touching iptables from multiple threads/processes? It's good practice to only do it from the same process and thread to make sure rule manipulations are synchronized.

[2016-08-03 14:41] lemsx1 commented on #182
I just came across this issue running python 2.7.11 in RHEL 6.x (compiled my own).
Using the patch above (@mexicarne) did not work for me.

[2016-08-03 18:34] ldx commented on #182
@lemsx1 can you post here the stack trace you get?

[2016-08-04 16:19] lemsx1 commented on #182
[code]

[2016-08-04 16:37] lemsx1 opened #186 "insert_rule missing"
#182 I'm not sure if this is a global issue or just applying to my code, so bear with me...

I have a script that receives a list of subnets and ports to apply to an iptable chain. The chain is then referenced in FORWARD, and the user is able to use the services he/she was supposed to get...

The flow is like:

a. create new chain. Say: **tun0_lmondesi**
b. hook to FORWARD. Say: src and dst refere

[2016-08-04 23:35] ldx commented on #182
@lemsx1 testing in a CentOS6.5, after manually installing Python 2.7.11 and pip installing python-iptables:

    [vagrant@vagrant-centos65 ~]$ sudo pip install python-iptables
    You are using pip version 7.1.0, however version 8.1.2 is available.
    You should consider upgrading via the 'pip install --upgrade pip' command.
    Collecting python-iptables
      Using cached python-iptables-0.11.0

[2016-08-04 23:37] ldx commented on #186
Can you also repro this with the latest version? Or using master from github?

[2016-08-15 13:41] FedericoCeratto commented on #182
Hi @ldx - I'm in the process of packaging python-iptables for Debian and I'm running into the same bug when the .deb package is installed. Anything I can do to help?

[2016-08-15 17:15] ldx commented on #182
@FedericoCeratto can you tell me more about your environment? OS, iptables version, python version, python-iptables version?

[2016-08-17 12:02] Krejdom opened #187 "Missing license"
Please add a license file.

[2016-08-17 23:22] ldx commented on #187
@Krejdom https://github.com/ldx/python-iptables/blob/master/NOTICE

Its name is very unfortunately, you're not the one who mentions there's no license file in the repo. :)

[2016-08-22 11:27] Krejdom commented on #187
@ldx Thank you for the clarification. :)

[2016-08-22 11:27] #187 closed

[2016-08-23 17:13] samnet commented on #184
Hello,

apologies for late reply. Unfortunately, I am positive I was executing the above  code from within a single thread.

As a side note, may I ask you how is concurrent editing of the tables handled? Is it taken care of in any way by the library, or is the programmer responsible for it?
You mention in the documentation that Table is a singleton. Can you explicit what you meant by that please?

[2016-08-24 16:15] ldx commented on #184
Hey @samnet,

- Concurrent access from multiple threads is discouraged. Iptables itself uses a lock under the hood, so you will likely get an exception about a locking error when you try to do that.
- Table is a singleton:

    139934100413264

    139934100413264

[2016-08-25 10:15] samnet opened #188 "feature request: quota"
Hello,

a feature of iptables I found particularly useful to administer a Hotspot is the "quota" one. It acts as a ceiling on the traffic ( as detailed in http://linuxgazette.net/108/odonovan.html) and a typical quota rule looks like:
`-A INPUT -p tcp -m quota --quota 123456 -j ACCEPT `.
I think it would be a super useful addition to python-iptables.

rgds

[2016-08-27 06:16] teracow commented on #182
Hi @ldx - I have the same issue.

I currently have a BASH solution in-place to talk to iptables, but I'd like to switch to using **python-iptables** at some point.

my config:
Ubuntu Server **v14.04.5 LTS**
iptables **v1.4.21**
Python **v2.7.6**
python-iptables - cloned a few minutes ago...

[code]
I'm happy to assist if you need anything further.

[2016-09-13 04:01] ldx commented on #188
Hi @samnet,

something like this should work:

[code]

[2016-09-13 04:04] ldx commented on #182
@teracow can you try building and installing it? Python-iptables also include a C library that needs to be compiled.

[code]

should do the trick.

[2016-09-13 05:08] teracow commented on #182
Hi,

I think I got past this error by copying **libxtwrapper.so** into **/usr/lib/python2.7/dist-packages/** but this was some time ago, and I'm not 100% that that's all I did.

I then switched projects and this kinda got dumped. If anyone had responded to my query at the time, I could have been more helpful.

Sorry.

[2016-09-14 13:44] FedericoCeratto commented on #182
Symlinking the shared obj to  /usr/lib/python2.7/dist-packages/libxtwrapper.so helped but then the import fails like in #90 with:
[code]

[2016-09-19 13:26] zokford opened #189 "import iptc"
I am using python-iptables and do not have so many examples to go ahead with it, can you please guide me for some documentation to understand it ... thank you

[2016-09-19 18:32] ldx commented on #189
Have you checked the readme? https://github.com/ldx/python-iptables/blob/master/README.md

[2016-09-20 05:02] ldx commented on #182
@FedericoCeratto instead of symlinking, can you give a shot to the setup.py commands in my comment above?

[2016-09-20 11:44] zokford commented on #189
Yes I did, are there any advanced docs please ?

[2016-09-20 20:07] ldx commented on #189
I'm afraid there are no docs like that.

Do you have any specific question, or anything you think is missing from the docs?

[2016-10-06 14:11] samnet commented on #188
Works perfectly, thanks.

[2016-10-06 14:11] #188 closed

[2016-10-07 10:01] mexicarne commented on #182
Would you please show the output of this command? I'm asking those who have this 'throw_exception' error.

```python -c "import imp; print(imp.find_module('libxtwrapper')[1])"```

Please post the output and your operating system info: name, version, architecture.

[2016-10-07 10:32] mexicarne commented on #182
I now think that is not right to change find_library or _find_library, because these functions looking for system libraries, not only for libxtwrapper. So I come with another solution to xtables.py that is work for me and should be universal

[code]

Please let me know if it works for you. It works fine at Ubuntu 16.04 x64

[2016-10-07 17:40] genslow opened #190 "Timeout on create_target()"
I have a script that uses the IPTables package to modify my firewall rules. At one point, this code was working fine. Now, however, it times out on the call to create_target() hangs. No exception is thrown, the process just ends.

Here's my code:

[code]

Any suggestions?
-Greg

[2016-10-12 13:15] yskomur commented on #121
import os
import iptc

for x in range(3):
    t = iptc.Table('filter', autocommit=False)
    c = iptc.Chain(t, 'INPUT')
    r = iptc.Rule(chain=c)
    r.set_in_interface('lo')
    r.target = iptc.Target(r, 'LOG')
    c.insert_rule(r)

    t.commit()
    t.refresh()

    os.system('/sbin/iptables -D INPUT -i lo -j LOG')

when execute external iptables or iptables-restore iptc hang

[2016-10-15 15:01] ldx commented on #182
@mexicarne works here. Can you open a PR? Thanks!

[2016-10-15 15:05] ldx commented on #190
Hey @genslow, is it hanging, or the python process exiting? Might be a crash.

[2016-10-15 15:08] ldx commented on #121
@yskomur any reason you call iptables via `os.system()`? It might cause all sorts of problems and interfere with python-iptables.

[2016-10-15 18:56] yskomur commented on #121
this is working example code..

 my project working with tornadoweb. anybody can change iptables rule from command line while my code is running. not a turning back, restart required.

[2016-10-17 17:51] dadittoz commented on #182
Although the fix by @mexicarne seem to work on python 3.5 (though I don't have any problem even without this fix), it didn't solve the problem for 2.7:
Here's the log with this fix implemented.

[code]

[2016-10-17 20:38] mexicarne commented on #182
@dadittoz please let us know what OS and which version you are using. How you installed iptc (package, pip) and what the full name of libxtwrapper.so in your system (should be somewhere in /usr/lib/python2.7/dist-packages). Thank you!

[2016-10-17 21:55] dadittoz commented on #182
Okay, I got it figured out. If I install python-iptables by adding to **install_requires** in my own project it doesn't work. But if I remove it and then use pip2 install python-iptables, it works fine. This is relevant to Python 2.7 only. Python 3.5 installation works fine either from install_requires or pip3 install. I really don't understand what black magic happens here.

My OS is: Ubuntu 16.0

[2016-10-19 16:03] dadittoz opened #191 "Example for inverse ipset match"
Could someone help me with an example on how to do a inverse ipset match? I googled to no avail.
Something like this can be done in command line:

[code]

I have the following code, so you could quickly add exclamation mark somewhere in it ;)

[code]

Since this should be an issue rather than a support request, I would suggest adding such an example to FAQ.

[2016-10-31 13:55] h0tbird opened #192 "iptc.ip4tc.IPTCError: can't initialize nat: iptables who? (do you need to insmod?)"
Is this a bug? Or I am missing a kernel module?

[code]

[code]

[code]

[2016-11-12 19:39] mrtwister76 opened #194 "multiport invalid value"
Hi,

I'm having problems with multiport match on dports.
For example:

[code]

This always raises an exception.
Stacktrace:
[code]

I've tried a list of strings, single integers, etc., but unfortunately just can't seem to get it working :(

Any help appreciated! :)

Cheers!

[2016-11-12 20:10] mrtwister76 commented on #194
OK, my mistake.
For the benefit of others... you need to add a protocol to the rule before adding a multiport match!

[2016-11-12 20:10] #194 closed

[2016-11-25 01:12] jllorente commented on #191
Hi, did you try with  this ?
[code]

[2016-11-25 01:16] jllorente commented on #192
Hi, after running
[code]
i got all these modules loaded
[code]

Can you check your output?

[2016-11-25 09:43] h0tbird commented on #192
I don't have the `ip6` modules:

[code]

[2016-11-25 09:46] jllorente commented on #192
What happens if you try to modprobe them? I haven't used docker, I usually go LXC or network namespaces and it works flawlessly in that environment.

[2016-11-25 09:47] h0tbird commented on #192
Yes, just tried and now it works:

[code]

Thank you @jllorente !

[2016-11-25 09:47] #192 closed

[2016-12-05 11:47] codeskyblue opened #195 "Can't use version function"
Sorry, I search google. But can't find a way.

[code]

iptables has already install in my PC (debian7.0)

[2016-12-05 14:41] jllorente opened #196 "Problem when reading and writing goto targets"
Hi,
I wanted to create a goto target but I couldn't figure out how, so I created the rule directly in iptables first:

[code]

Then I read it with iptc, but I couldn't see any differences with the normal target jump, so I inserted it again to see what that did. To my surprise, it generates a faulty rule :/ To my  surprise, it adds an output field to the rule and transforms the goto in jump.

[code

[2016-12-09 04:14] pepoluan opened #197 "ipset / libipset?"
Hi!

Do you have plans on providing a Pythonic interface to ipset (libipset), too?

If not, do you have a recommendation on a module that does to libipset what yours do to libiptc?

[2016-12-14 02:48] pepoluan commented on #196
A glance at the source code seems to indicate that at the moment `python-iptables` does not _yet_ support `-g`.

I'll try adding that feature.

Anyways, how do you get the faulty rule list? Did you use `iptables-save`?

Because such faulty rule is certainly a bug if reproducible, and while I'm at it, I want to squash that as well.

[2016-12-14 17:57] pepoluan commented on #196
Okay I'm still trying to grasp how python-iptables retrieved the struct for Target.

But a simple glance, it seems python-iptables do not properly decode the `flags` field, and thus missing the IPT_F_GOTO flag. And neither does it set/modify the `flags` field within the `Target` class.

I'll try fixing this, because I myself need the `-g` target...

[2016-12-15 07:45] pepoluan commented on #196
Just an update:

If I do an experiment as such:

### Before:

    # iptables-save
    ... output omitted ...
    -A jumphere -g gotohere
    ... output omitted ...

### Clone a rule

This uses the example code https://github.com/ldx/python-iptables/#chains-and-tables , except that I appended the following code:

    if rule.target.name == 'gotohere':
        r2 = iptc.Rule()
        m2 = r2.create

[2016-12-15 08:19] pepoluan commented on #196
Aaanyways, I might have found a way to create `-g` (goto) targets.

I'll double-check my work, and submit a pull request.

[2016-12-15 08:54] jllorente commented on #196
Hi,
I forgot to mention that I was running the version from pip, maybe that's why you didn't see the wrong "-o" field. I also saw the IPT_F_GOTO in the code, but didn't go to deep into it...

Thanks pepoluan!

[2016-12-15 12:25] pepoluan commented on #196
#199 is pull request / patch that allows python-iptables to recognize "-g" targets, and vice versa, to enable creation of "-g" targets.

### Usage

To create "goto" targets, specify `goto=True` kwarg when calling `rule.create_target` or when instantiating `Target` object.

[2016-12-15 18:33] pepoluan commented on #196
Yup! #200 finally nailed it, and it passed all tests.

Now it's safe to use for IPv4 _and_ IPv6.

Whew!

[2016-12-16 09:32] jllorente opened #201 "Problem with "hashlimit" match without hashlimit_htable_expire value"
Hi,
I tried to replicate the example described here (https://github.com/ldx/python-iptables/blob/edd1623675c41bc1c20698a41e8ed8ee0d86ab1c/tests/test_matches.py#L431)

Turns out if you do not set hashlimit_htable_expire, the iptables chain is not populated but no error is shown either, fails silently. I did this, not setting a value because I was a bit unsure since I hadn't used it either in my oth

[2016-12-16 15:50] pepoluan commented on #201
I can **verify** this bug.

I'm using my patched version (see #200 ), on Linux Mint 18 "Sarah". Uncommenting the line

[code]

Successfully added the rule to iptables.

Furthermore, if I disable autocommit by modifying the code as such:

[code]

Now it emits an error at `table.commit()`:

    Traceback (most recent call last):
      File "/home/pepoluan/PycharmProjects/python-iptables/tests/try_it

[2016-12-16 16:24] pepoluan commented on #195
Where did you get the idea you can call `iptc.version()` anyways?

`version` is a module under `iptc`, so you need to import it:

[code]

[2016-12-16 16:55] pepoluan commented on #201
### Additional info:

If I edit the code as such:

[code]

I get this:

[code]

So, apparently, `hashlimit_htable_expire` was set to `'0'`. Trying this on the CLI:

[code]

iptables puked on `--hashlimit-htable-expire 0`, it seems. Because changing that to `--hashlimit-htable-expire 100` removes the error.

Not sure where this `u'hashlimit_htable_expire': u'0'` comes from, though.

[2016-12-17 03:09] codeskyblue commented on #195
thanks @pepoluan, Never thought it can use this way. it works.

[2016-12-17 03:09] #195 closed

[2016-12-18 07:44] jllorente commented on #191
I found the way :)
[code]

[2017-01-03 05:09] #171 closed

[2017-01-03 05:09] #175 closed

[2017-01-03 05:10] #186 closed

[2017-01-03 05:10] #189 closed

[2017-01-03 05:10] #190 closed

[2017-01-03 05:10] #191 closed

[2017-01-03 05:10] ldx commented on #191
Thanks!

[2017-01-03 05:11] ldx commented on #196
Merged the PR, thanks again!

[2017-01-03 05:11] #196 closed

[2017-01-03 05:12] ldx commented on #201
Yes, this is a known issue. Setting it explicitly works around the problem, thought.

[2017-01-03 05:12] #201 closed

[2017-01-03 05:15] ldx commented on #197
Hey @pepoluan,

I've never used libipset and currently I have limited free time, so I don't plan to start a new project. :)

This is one project I found: https://github.com/Lukasa/python-ipset but not sure how well it works.

Cheers!

[2017-01-03 05:15] #197 closed

[2017-01-03 05:15] ldx commented on #182
Has anyone else been able to reproduce this problem on 16.04?

[2017-01-03 09:32] jllorente commented on #197
Hei @pepoluan, maybe you want to try this one out :)
https://github.com/svinota/pyroute2

[2017-01-03 14:38] jllorente commented on #201
Hei!
I kept playing around with this issue and I have found something interesting, yet fairly simple.
Add 3 rules via iptables CLI, where the hashlimit-name carries the expiration time configured:
[code]

Then dump the rules
[code]

The default value for hashlimit-htable-expire is therefore 1000 ms (1 sec).
As @pepoluan  mentioned before, the culprit is setting either ```match.hashlimit_upto``` or

[2017-01-03 15:49] jllorente commented on #182
I came here because I ran into the same problems as OP with a fresh cloned repo, but then I realized I had not installed the dependencies. I usually run python3 so I didn't have the module installed for python2, ergo the dependency was missing.

I tried the following, to install my local version:
[code]

However, as @ldx  indicated, I also tried buidling and installing with setup.py, but that didn

[2017-01-03 22:32] jllorente commented on #201
Hi,

More information to this regard. There seems to be a larger issue than initially expected.

The following examples creates a hashlimit match and sets a target value for the rule
[code]

Following the examples of above create a hashlimit match but without setting a target value for the rule gives the following error for all the variations of the hashlimit_htable_expire parameter.
[code]

Howev

[2017-01-09 04:53] ldx commented on #182
Yeah, just checked this and I can confirm what @jllorente wrote above.

The missing step is:

    # python2.7 setup.py build && python2.7 setup.py install && python2.7 setup.py install_lib

[2017-01-09 04:53] #182 closed

[2017-01-11 16:07] pepoluan commented on #201
Just a thought: Could this be an upstream bug?

On Jan 4, 2017 5:32 AM, "jllorente" <notifications@github.com> wrote:

[2017-01-11 19:12] jllorente commented on #201
I cannot tell where the problem lies, but there is certainly a bug somewhere... I would suggest to reopen the issue until it is resolved, as it may help other people running into the same problem.

As a temporary solution I am using this in my rules:
[code]

Cheers!

[2017-01-18 00:00] ldx commented on #201
Looking into this a bit more

1. As for the expire parameter, in iptables, in extensions/libxt_hashlimit.c `info->cfg.expire` gets set when burst is set:

    static void hashlimit_mt_check(struct xt_fcheck_call *cb)
    {
    	const struct hashlimit_mt_udata *udata = cb->udata;
    	struct xt_hashlimit_mtinfo1 *info = cb->data;

    	if (!(cb->xflags & (F_UPTO | F_ABOVE)))
    		xtables_error(PAR

[2017-01-18 12:19] pepoluan commented on #201
It *is* an upstream bug, then :-)

[2017-01-19 12:54] jllorente commented on #201
Thanks @ldx for the digging!
For now, I think I will stick to the ```match.hashlimit_htable_expire='1001'``` for this particular extension.

[2017-02-06 16:19] florencka opened #203 "Unknown xtables version 12"
I'm getting an error with iptables 1.6 and xtables version 12 on debian testing (stretch/sid). Any chance you can update to this version? I'd really appreciate it!

[2017-02-06 19:35] ldx commented on #203
@florencka I created a branch called `issue203`, can you build & install it and report back if it works? Thanks!

[2017-02-07 09:58] florencka commented on #203
I guess you also need `_xtables_match_v12`. I did the same changes to the version of python-iptables I installed through pip (pointed both the match and target of v12 at v10) and it worked so far. I didn't do much testing though. Will let you know if something goes wrong along the way.

[code]

[2017-02-07 14:31] florencka commented on #203
Unfortunately it seems it doesn't work with Targets that have parameters, like DSCP. I'm trying to do the following:
[code]
And I'm getting:
[code]

[2017-02-07 18:26] jllorente opened #204 "Problem with target "NOTRACK""
Hi,

I think I've found a bug regarding target "NOTRACK"
I'm attempting to produce a test rule to untrack SCTP protocol
[code]

The problem is that the target is not handled properly and yields the following:
[code]

Steps to reproduce:
[code]

Any help would be appreciated!
Thanks!

[2017-02-07 20:14] jllorente commented on #204
I have done bit more testing. Turns out that I can properly retrieve a NOTRACK rule via iptc, but I cannot insert it back.

Steps to reproduce:
[code]

Hope this shed some light :)

[2017-02-08 12:50] florencka commented on #203
Allright I got it to work. The problem is that the xtables_target structure from xtables.h changed. There is a new element just before `udata_size`:
[code]
If you add the equivalent element in python then `udata_size` value is read properly again.

[2017-02-10 16:11] pepoluan commented on #204
I think the cause to this issue is that `NOTRACK` is actually an 'alias' to `CT --notrack`.

But as the Target was created without any parameters, the conversion to `CT` does not have space to record the `notrack` parameter.

Try targetting `CT --notrack` instead, and check if the rule is again malformed.

[2017-02-11 09:59] jllorente commented on #204
Thanks for pointing that out @pepoluan, you are absolutely right, NOTRACK is indeed an alias for the CT target.

I would like to point out that to perform that "NOTRACK" action, one could insert the rule in 2 different ways, however only the former seems to be properly processed by iptc.
[code]

The supported way then to handle the NOTRACK is as follows:
[code]

Shall we then close this issue or i

[2017-02-27 21:21] pepoluan commented on #204
Just a thought: Should we augment the `Target` class __init__ to raise an exception for this case?

(IIRC, `NOTRACK` is deprecated anyways, so we can extend this behavior to all deprecated targets.)

[2017-03-02 04:42] ldx commented on #204
@jllorente there might be a way to handle this better, but I'm kinda pressed on time right now, so not sure when I'll be able to look into this.

@pepoluan I usually don't really like adding target/match specific logic to the classes, but if you can elaborate or create a PR to show what you mean I'll be happy to review it.

[2017-03-02 13:33] pepoluan commented on #204
Rather than submitting a pull request, I'll illustrate first:

[code]

[2017-03-07 23:40] ldx commented on #204
Oh I see. Unfortunately there's more here than meets the eye: whether a target/match should be marked as "deprecated" also depends on the version. I'm also not a fan of baking this into class.

OTOH, it might be a good idea to update docs about this.

[2017-03-09 10:05] pepoluan commented on #204
Fair enough. I too am not really too keen on enforcement of DeprecatedWarning like this.

Another idea would be to perform an (optional) auto-retrieval post-commit, and warn the user if the retrieved Target changes (e.g., from "NOTRACK" to "CT"). Not sure how much work to implement this kind of self-verification, though.

[2017-04-26 02:53] #203 closed

[2017-05-11 04:30] mangokingTW commented on #203
Could you upload this fixed version to Pypi?
I encounter this problem since iptables is upgraded.
Thank you a lot!

[2017-06-05 07:00] pepoluan commented on #201
Another thought came to me: If the lib *requires* `hashlimit_htable_expire`, we ought to take a look at how the `iptables` program handle the case when `hashlimit_htable_expire` was not specified.

[2017-06-06 02:57] ldx commented on #203
This took a while, sorry about that. New package is now available on PyPi.

[2017-06-06 05:18] mangokingTW commented on #203
Thank you a lot!

[2017-07-08 11:17] alx-k commented on #37
I'm running into the same issue on Ubuntu 17.04 (or 16.04) with Python 3.6 - I can't seem to fix it.

I didn't have `libxtables.so` but have `libxtables.so.11` in `/usr/lib/x86_64-linux-gnu/`, so I created a symbolic link and set `export XTABLES_LIBDIR=/usr/lib/x86_64-linux-gnu` and did the same for `libiptc.so`. I'm still getting the same issue.

Are there any clues on how I can get it working? F

[2017-07-08 16:02] ldx commented on #37
@alx-k try `XTABLES_LIBDIR=/usr/lib/x86_64-linux-gnu/xtables/` after making sure `iptables` is installed.

[2017-07-08 17:28] alx-k commented on #37
@ldx I gave that a try (also check `iptables`, is installed by default on Ubuntu server as well). I'm still getting the same issue.

[2017-07-08 21:12] ldx commented on #37
@alx-k interesting, this worked for me on Ubuntu 17.04 + Python 3.6.

Can you check if you have an `/usr/lib/x86_64-linux-gnu/xtables/` directory, and if you do, what's inside?

[2017-08-09 05:53] amy61789 commented on #37
I installed Ubuntu 16.10 on a VirtualBox. I'm trying to import iptc from iptables and continue to receive the same error of "can't find directory with extensions; please set XTABLES_LIBDIR". I've changed the XTABLE_LIBDIR environment variable, no change.

[2017-08-09 16:29] ldx commented on #37
@amy61789 what do you use for XTAB:ES_LIBDIR?

[2017-08-09 16:37] amy61789 commented on #37
Here is the actual repo that I'm working on: https://github.com/amy61789/captive_portal/tree/master/captive_portal/captive_portal

I'm trying to create a Captive Portal to authenticate users/time out. When the script hits the iptablesHandler.py it tries to import iptc. As soon as the code meets that line I get the error. I'm assuming that I may need the XTABLES_LIBDIR to import iptc?

[2017-08-10 00:07] ldx commented on #37
@amy61789 can you try `export XTABLES_LIBDIR=/lib/xtables`?

[2017-08-10 18:45] amy61789 commented on #37
@ldx still receiving the same error after try the export XTABLES_LIBDIR=/lib/xtables.

Error message is as follows:
<img width="816" alt="screen shot 2017-08-10 at 11 44 27 am" src="https://user-images.githubusercontent.com/20174873/29186434-57b56f42-7dc1-11e7-915d-f01ebdee2302.png">

[2017-08-10 20:37] ldx commented on #37
@amy61789 two things we can check:
- `ls /lib/xtables`
- Do you use `sudo` to run your app or script?

[2017-08-10 20:49] amy61789 commented on #37
@ldx
Yes, I use sudo to run the script. After entering ls /lib/xtables in the terminal, it returns the message "ls: cannot access '/lib/xtables': No such file or directory"

[2017-08-10 22:35] ldx commented on #37
Can you check what `dpkg -L iptables` says on that box?

[2017-08-10 23:03] amy61789 commented on #37
The output is:

(.env) amy@amy-VirtualBox:~$ dpkg -L iptables
/.
/sbin
/sbin/xtables-multi
/usr
/usr/bin
/usr/lib
/usr/lib/x86_64-linux-gnu
/usr/lib/x86_64-linux-gnu/xtables
/usr/lib/x86_64-linux-gnu/xtables/libip6t_DNAT.so
/usr/lib/x86_64-linux-gnu/xtables/libip6t_DNPT.so
/usr/lib/x86_64-linux-gnu/xtables/libip6t_HL.so
/usr/lib/x86_64-linux-gnu/xtables/libip6t_LOG.so
/usr/lib/x86_64-linux-gnu/xta

[2017-08-11 16:41] ldx commented on #37
@amy61789 okay, then `export XTABLES_LIBDIR=/usr/lib/x86_64-linux-gnu/xtables/` should work. Probably when you use sudo to run your app, that resets the environment variables.

[2017-08-14 18:33] amy61789 commented on #37
@ldx Awesome that works, thanks! I'll throw it in my bashrc file so I don't need to export every time.

[2017-08-24 20:57] Kentzo opened #211 "Add manylinux wheels to PyPI"
That would allow to strip GCC requirement and simplify distribution.

[2017-08-30 20:04] stkw0 opened #212 "Update release page"
The last release (v0.12.0) is not showed on github, and the "Last Release" on github is pointing to v0.3.0 although the last tag is v0.11.0.

[2017-09-01 20:44] ldx commented on #212
Releases are uploaded to pypi, GitHub is not used anymore to keep release artifacts.

[2017-09-01 21:01] stkw0 commented on #212
Thanks.  I will close the issue then.

[2017-09-01 21:01] #212 closed

[2017-09-14 14:43] gummeah opened #216 "DNAT corrupted double-linked list"
Hello.
I'm getting error:

When trying to do this:
[code]
Am I doing something wrong or is that some sort of a bug?
Thanks.

Python 3.6.2 (default, Jul 18 2017, 22:59:45)
python-iptables (0.12.0)
ldd (GNU libc) 2.17

[2017-09-17 12:45] jee1mr opened #217 "Error installing on Raspberry Pi (Raspbian Jessie)"
running install
running bdist_egg
running egg_info
writing python_iptables.egg-info/PKG-INFO
writing top-level names to python_iptables.egg-info/top_level.txt
writing dependency_links to python_iptables.egg-info/dependency_links.txt
reading manifest file 'python_iptables.egg-info/SOURCES.txt'
reading manifest template 'MANIFEST.in'
warning: no files found matching 'README'
warning: no files found

[2017-09-17 21:32] ldx commented on #217
This looks like a compiler bug. Can you try installing a different compiler version?

[2017-09-17 21:36] ldx commented on #216
This looks like a bug. Any chance you can also copy/paste the rules for the NAT table from `iptables-save` so I can try to reproduce it?

[2017-09-18 07:33] jee1mr commented on #217
I thought so too. But it's compiling with the same gcc version on a different RPi. Let me check again.

[2017-09-19 09:18] gummeah commented on #216
I can't reproduce this error :/ I have not changed anything, except for iptables entries maybe, and it works now.  I'll try to capture iptables entries and let you know if it will happen again.

[2017-09-19 09:40] jllorente commented on #216
In that snippet you are not checking the target is indeed DNAT, where to perform "to_destination".
Could it be that the rule you are reading does not have such target and just behaves as a packet counter? I have sometimes used this approach to light weight debugging, instead of TRACE  :)

As @ldx mentioned, if you could provide the rules it would help a lot

[2017-09-22 11:25] #217 closed

[2017-10-09 20:34] ivanlmj opened #218 "iterate chain.rules and get dst_port and src_port from a rule"
According to this [document](https://github.com/ldx/python-iptables/blob/master/README.md):

You can of course also check what a rule's source/destination address, in/out inteface etc is. To print out all rules in the FILTER table:

Is that possible to also obtain the Destination and Source Port from a rule?

[2017-10-09 20:43] jllorente commented on #218
Yes it is. you need to access the attribute with the protocol at hand, for example
if match.name in ('tcp', 'udp'):
    print((match.sport, match.dport))

[2017-10-09 20:45] jllorente commented on #204
I will close this issue. IMO the better way is using CT target anyway.
I hope this serves at least for future reference :)

[2017-10-09 20:45] #204 closed

[2017-10-09 20:58] ivanlmj commented on #218
Thanks, @jllorente :+1: !

[2017-10-09 21:36] jllorente opened #219 "Enhancement: Add helper functions to encode/decode iptc.Rule()"
Hi,
I've noticed how sometimes it can get a bit tricky to configure a rule properly, or even to print out all the fields.

I have created couple of functions that facilitate these tasks (currently only for IPv4):
encode_rule_from_dict_v4(rule_d): Receives a rule in a dictionary format and returns a valid iptc.Rule() object.
decode_rule_to_dict_v4(iptc_rule): Receives an iptc.Rule() objects and ret

[2017-10-13 00:55] pepoluan commented on #219
_Very_ interesting! I'm neutral _but_ tending to +1 on this.

In any case, my interest is kinda tangential: If we can settle on the dict keys & structure/hierarchy, we can then expand this to a YAML-based netfilter configurator. E.g.:

[code]

[2017-10-24 06:37] jllorente opened #220 "Missing tables for Table and Table6 in ALL attribute"
I have noticed that the ALL attribute of classes Table and Table6 does not include the same tables.
The class Table is missing "security"
The class Table6 is missing "nat"

Should I make a patch for this?

[2017-10-24 15:56] ldx commented on #220
Merged, thanks!

[2017-10-24 15:56] #220 closed

[2017-10-24 16:11] ldx commented on #219
Interesting idea. As for placement, if it is implemented as a helper function, it can go into the same .py file where the Rule and Rule6 classes are defined.

I'll be happy to review and discuss a PR if you can make one. Thanks!

[2017-10-24 20:49] jllorente commented on #219
I have some update on this. What initially started as a helper ended up turned into a wrapper (Python3) just to help me abstract from some of the nitty gritty specifics of iptc, mostly rule making. I have also added IPv6 support to the API functions.

Here I link you to my repo where I have this iptc_helper3.py file. (I hope that does not infringe any rules)
https://github.com/jllorente/helpers_n_

[2017-11-15 06:00] jllorente commented on #219
Hi! In that PR I have implemented the two helping methods from_dict() and to_dict() for Rule and Rule6 classes. Note that I didn't have to modify the Rule6 class after all, changes are limited to ip4tc.py file.
For some reason, the Travis CI build failed...

[2017-12-19 14:36] Binsoma opened #223 "problem while importing iptc when running sudo rce-container localhost"
Hi everyone. I am having the error "**AttributeError: 'NoneType' object has no attribute 'throw_exception**'" when running sudo rce-container localhost
Command output is as follows.

Traceback (most recent call last):
File "/usr/local/bin/rce-container", line 4, in
import('pkg_resources').run_script('rce-core==0.3', 'rce-container')
File "/usr/local/lib/python2.7/dist-packages/pkg_resources/init.p

[2017-12-19 22:34] ldx commented on #170
@Binsoma did you install the shared library via `python setup.py install_lib`?

[2017-12-19 22:34] ldx commented on #223
Duplicate of #170

[2017-12-19 22:34] #223 closed

[2017-12-20 14:27] Binsoma commented on #170
@ldx No, I installed by using "sudo apt-get install python-setuptools python-dev git-core".
When I put python setup.py install_lib I get "python: can't open file 'setup.py': [Errno 2] No such file or directory"
Could you provide step by step installing using python setup.py install_lib, May be it could solve the above error. Thanks

[2017-12-20 14:31] stinnux commented on #170
you need to run it in the python-iptables source directory.

[2017-12-20 14:34] Binsoma commented on #170
Could you please specify where is this source directory.

[2017-12-20 18:28] ldx commented on #170
@Binsoma did you clone the repo and installed from source, or from a package via pip or apt-get?

[2017-12-20 19:01] Binsoma commented on #170
I used sudo apt-get install python-setuptools python-dev

[2017-12-25 11:12] Feliksas opened #224 "Instead of creating a new Chain instance, the previous one with the same name gets reused"
In [1]: import iptc

In [2]:  t_filter = iptc.Table(iptc.Table.FILTER)

In [3]: t_filter6 = iptc.Table6(iptc.Table6.FILTER)

In [4]: t_filter
Out[4]: <iptc.ip4tc.Table at 0x7f2af10c62d0>

In [5]: t_filter6
Out[5]: <iptc.ip6tc.Table6 at 0x7f2af3b12d90>

In [6]: c_input = iptc.Chain(t_filter, 'INPUT')

In [7]: c_input
Out[7]: <iptc.ip4tc.Chain at 0x7f2af3abf410>

In [8]: c_input6 = iptc.Chain(t_filt

[2017-12-27 10:12] Feliksas commented on #224
Clarification: I'd like to create a chain with the same name in both iptables and ip6tables, and fill them both in the same cycle from a single hosts source (say, list or set). It turns out that it is impossible, as a Chain object with a given name gets instantiated only once (is it a singleton like Table?)

[2017-12-27 17:18] ldx commented on #224
@Feliksas I created a branch called `issue224`, can you give it a try and see if it fixes your issue? It now creates separate instances for IPv4 vs IPv6 chains for me.

[2017-12-27 17:31] ldx commented on #170
@Binsoma and how about python-iptables itself? Did you install it from source, via pip with/without a virtualenv, or from apt?

[2018-02-09 22:12] yaphatak opened #228 "Can't see match parameters if rules were added using api"
I try to insert rule like this.

chain = iptc.Chain(iptc.Table('nat'), 'PREROUTING')
rule = iptc.Rule()
rule.protocol = 'tcp'
rule.in_interface = 'eth0'
m = rule.create_match('tcp')
m.dport = '22001'
match = rule.create_match("comment")
comment = "comment test"
match.comment = "\"%s\"" % (comment)
t = rule.create_target('DNAT')
t.to_destination = '10.0.1.1:4422'
chain.insert_rule(rule)

But then w

[2018-02-10 00:24] yaphatak commented on #228
match.comment = ""%s"" % (comment)

This was culprit. If I do simple match.comment = "test" works fine

[2018-03-06 07:49] codecat555 commented on #224
FYI - I ran into the same problem and this branch is working well for me. Thanks!

[2018-03-06 08:24] codecat555 opened #230 "Cannot create a rule to match manually-created rules"
I'm looking for a compact method to find a specific rule in a chain. I tried to do this by creating a rule with certain characteristics and then running:

    idx = chain.rules.index(rule)

This approach fails because the equality test fails in the Match class. The following code illustrates the problem:

[code]
On my system, this code prints:

[code]
This is on a Centos 7 system running kernel ve

[2018-03-12 23:56] ldx commented on #224
Thanks, I merged that branch.

[2018-03-12 23:56] #224 closed

[2018-03-13 08:22] 940374250 opened #231 "incompatibility between python-iptables and uwsgi"
# **env:**
flask 0.12.1
uwsgi  2.0.17
python-iptables  0.12

# **part of the code:**
table = iptc.Table(iptc.Table.FILTER)
table.refresh()
default_chain = iptc.Chain(table, 'INPUT')
rule = iptc.Rule()
rule.protocol = 'tcp'
rule.target = iptc.Target(rule, 'LimitAudit_8010')
match = iptc.Match(rule, 'tcp')
match.dport = '8010'
rule.add_match(match)
default_chain.insert_rule(rule)

# **abnormal**
req

[2018-03-13 17:51] ldx commented on #231
Hey,

the code snippet you pasted works for me (without uwsgi, after creating the chain `LimitAudit_8010`).

Can you tell me:
- your Python version,
- your iptables version and
- the version of python-iptables you have installed.

Thanks!

[2018-03-13 17:56] ldx commented on #230
@codecat555 can you show me the offending rule (e.g. the output from `iptables-save`)?

[2018-03-13 18:52] codecat555 commented on #230
`-A RH-Firewall-1-INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
`

[2018-03-14 02:35] 940374250 commented on #231
@ldx sorry, forget to paste the complete code.
**complete code:**
table = iptc.Table(iptc.Table.FILTER)
table.refresh()
if not table.is_chain('LimitAudit_8010'):
    table.create_chain('LimitAudit_8010')
default_chain = iptc.Chain(table, 'INPUT')
rule = iptc.Rule()
rule.protocol = 'tcp'
rule.target = iptc.Target(rule, 'LimitAudit_8010')
match = iptc.Match(rule, 'tcp')
match.dport = '8010'
rule.add

[2018-03-14 02:45] 940374250 commented on #231
@ldx  if i cancel all "iptc.match" settings, uWSGI will not be abnormal.

[2018-03-19 05:58] codecat555 opened #232 "Segmentation fault during commit after insert rule"
Hi,

I've been hitting an error and segmentation fault which has been hard to nail down. I finally boiled it down to a minimal test case. Would you please take a look?

Here's the code -

[code]

Here's how I am running it -

[code]

System -

CentOS Linux release 7.2.1511 (Core)
iptables-services-1.4.21-16.el7.x86_64
iptables-1.4.21-16.el7.x86_64

[2018-03-19 06:16] jllorente commented on #232
I couldn't reproduce the issue in a VM running Ubuntu 16.04 with kernel 4.8.0-58-generic and iptables v1.6.0

[2018-03-19 06:30] codecat555 commented on #232
Hmmm. I tried it on 2 (similarly configured) systems. Also tried before and
after reboot.

I would be happy just knowing how to avoid the problem.

Do you have any suggestions for how I might dig deeper?

I didn't get anything useful with pdb or strace. I guess I could compile
libiptc with debug symbols and fire up gdb. Is that how you would do it?

On Mar 18, 2018 11:16 PM, "jllorente" <notificat

[2018-03-19 06:50] jllorente commented on #232
I have never really worked with netlink development, so I cannot really say.
How about trying a more recent version of iptables? Maybe that could help isolate the problem :)

[2018-03-19 13:18] jllorente commented on #219
The Travis CI build issue does not appear any longer. I have made a minor change in one function and the PR is ready :)

[2018-03-19 17:36] ldx commented on #232
@codecat555 can you try latest master from python-iptables? I can't repro the problem either.

[2018-03-20 07:16] codecat555 commented on #232
I upgraded to the latest iptables rpm available for Centos - 1.4.21-18.3.el7_4 - same result.

So, I compiled iptables-1.6.2 and see the following. The rest of my test suite seems to be working normally, with both the old and new iptables code. Any suggestions on what I might do next?

[code]

BTW, my kernel version is 3.10.0-693.2.2.el7.

[2018-03-20 16:55] ldx commented on #232
@codecat555 can you try to create a new virtualenv, install python-iptables from latest master in it, and run your test script?

[2018-03-20 23:15] codecat555 commented on #232
Ok, I installed a system using the Centos 7.4.1708 Minimal ISO with all default settings.

I then removed iptables-1.4.21 and installed iptables-1.6.2.

I installed python 2.7.14 and python-iptables (master).

Same test script -

[code]

[2018-03-21 00:02] codecat555 commented on #232
This is odd.  There seems to point to some sort of interaction with sys.argv -

[code]

[2018-03-21 23:44] ldx commented on #232
So one thing that is not supported is mixing iptables4 and iptables6 calls in the same process. Can you try moving all iptables6 calls into a separate script/process?

[2018-03-22 03:42] polarisary opened #233 "AttributeError: 'module' object has no attribute 'Rule'"
when i use python-iptables in Flask, it throws exception as follows,who can tell me why.thanks!
------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/flask/app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/lib/python2.7/site-packages/flask/app.py", line 1614, in full_disp

[2018-03-22 06:33] polarisary commented on #233
pass，sorry

[2018-03-22 17:10] ldx commented on #233
@polarisary it seems your module is called `iptc` itself. Can you rename it to something else? I think python is trying to import `Rule` from your `/root/flask/iptc.py`.

[2018-03-22 22:33] codecat555 commented on #232
Is that limitation (about mixing iptable4 and iptables6) specific to python-iptables, or is it something in libiptc?

I didn't know about that and have implemented a good bit of code which does act on both at the same time in the same process. Thing is, it all seems to work...except for this issue and I think I can work around that. I'm just wondering if I can expect to see other issues popping up

[2018-03-23 16:46] ldx commented on #232
libiptc internal limitation. There might be workarounds to it, but I've never really bothered to explore.

Did you check the INPUT chain for iptables6 rules? It might be empty when you're trying to insert a rule at a specific index.

[2018-03-24 03:09] codecat555 commented on #232
Actually, my code does not manipulate the INPUT chain. I just used that in the example here because it simplified the picture.

I have verified the results of the operations I've implemented. I have higher-level add, insert, delete, and replace operations built on top of python-iptables. Each operation is executed on both ipv4 and ipv6 tables. The tests I've done are not comprehensive, but these b

[2018-03-25 15:46] ldx commented on #232
Do you use a different script for your IPv6 tests? I can try to reproduce (I failed to repro with the original one at the beginning of this thread). We should certainly fix any kind of legit use case if the behavior is not correct.

[2018-03-26 23:43] codecat555 commented on #232
Oh - it works perfectly.

I"m sorry for wasting your time with such an obvious error.

The problem I was originally chasing was the "mixing iptables4 and iptables6 calls in the same process" limitation. I introduced that stupid Rule v. Rule6 bug while trying to distill the problem down into a simpler form.

I just went back and tried my original code again, with and without mixing v4 and v6 in the

[2018-03-26 23:43] #232 closed

[2018-03-27 02:02] ldx commented on #232
Thanks for the followup!

[2018-04-04 18:19] Van-hoa opened #235 "Import iptc issue"
Hi,

I wanted to use python-iptables package for build a firewall.
Unfortunately, when i tried to import iptc into my Python scripts, i have an error "
iptc.xtables.XTablesError: can't find directory with extensions; please set XTABLES_LIBDIR" when i run my code but python-iptables is in "Project Interpreter" and the package is in /usr/lib/x86_64-linux-gnu/xtables" so i can't figure out why it doe

[2018-04-04 22:40] ldx commented on #235
@Van-hoa can you tell me what distribution type and version you use, and how you installed python-iptables?

[2018-04-04 23:35] Van-hoa commented on #235
I used a distrib based on Debian named ParrotSecurity. I installed python-iptables via the pip command.

[2018-04-08 10:16] Van-hoa commented on #235
No ideas?

[2018-04-09 08:00] Van-hoa commented on #235
1) It works from the command line. But i need to use it within a script (it's a project for my studies).

3) I checked and there is no .so file like "iptables.so" or something like that.

[2018-04-09 16:27] ldx commented on #235
On Debian or on most Debian based systems it should be something like this:

[code]

Is it different for you?

[2018-04-09 18:17] Van-hoa commented on #235
There is something like that.

[2018-04-09 18:32] ldx commented on #235
I just checked, the problem seems to be that the last release does not have `/usr/lib/x86_64-linux-gnu/xtables` in the search path when it's trying to find extensions.

There are a couple of ways to work around this:
- Install python-iptables from source instead of via pip.
- Make sure you `export XTABLES_LIBDIR=/usr/lib/x86_64-linux-gnu/xtables` before you start PyCharm.
- Export this environment

[2018-04-16 21:59] BrianErikson opened #236 "ImportError: cannot import name version"
Greetings,

I have yet another import error. I'm running python 2.7.14 with python-iptables 0.12.0, installed by pip 9.0.1. I've tried uninstalling pip, deleting the cache, and re-installing pip and iptables through it, but I can't seem to get around the issue. running the python interpreter as sudo produces the same result. pip seems to work with other packages just fine. Please see below:

![ipt

[2018-04-17 00:29] ldx commented on #236
I just uploaded a new release to PyPi, can you give it a try?

[2018-04-17 00:46] BrianErikson commented on #236
It's working great now -- thanks for your quick support and for the library.

[2018-04-17 00:46] #236 closed

[2018-04-19 12:21] umlaeute opened #237 "please tag releases"
pypi currently has `0.13.0` but this repo is still at `0.12.0`

[2018-04-25 08:50] andryyy commented on #235
On Alpine 3.7 I get the same error. I define "XTABLES_LIBDIR=/usr/lib/xtables" (the actual directory) and it fails with:

[code]

[2018-05-01 12:33] hetii opened #238 "When using iptc.Target() inside namespace it keep it live"
Hi,
I try use iptc module inside namespace and as soon as I use iptc.Target()
somehow it do something with my namespace that when I delete it from system my veth v0p0 is still there.

To reproduce this issue please uncomment target line and run below code, finally call:
ip netns del ns1
ifconfig  v0p0
and you will see v0p0 that is not removed.

Without "target" all works as expected so when I dest

[2018-05-01 13:39] hetii commented on #238
Here is even simpler example that show us when iptc.Target() if invoked then in the background 5 sockets are opened and till process is up they are also there so that`s the reason why my namespace is not removed in proper way.

	#!/usr/bin/env python3
	from pyroute2 import IPDB
	from pyroute2 import NetNS
	from nsenter import Namespace
	import iptc

	import logging
	import signal

	FORMAT = '%(asc

[2018-05-02 10:42] hetii commented on #169
Hi,
Here is my solution based on pyroute2 package:

    from pyroute2 import NSPopen

    with NSPopen('your_namespace_name',['true']) as proc:
        <use python-iptables here>

[2018-05-04 00:40] RafaQueiroz opened #239 "Problem with ldconfig and cron"
I've installed the python-iptables using pip in a virtualenv and i've written a simple program that writes some rules in the iptables.  When i execute the program using the command line it works just fine, but when i try to execute in a cron job it raises the following error:

`
Traceback (most recent call last):
  File "garf.py", line 6, in <module>
    import iptc
  File "/home/rafael/garf/venv/

[2018-05-04 16:51] ldx commented on #239
Can you try setting PATH in your cron job config? Something like this should work:

[code]

[2018-05-04 21:17] RafaQueiroz commented on #239
Setting the path worked.

Thanks for the help.

Your lib is helping me a lot in a project.

great work! :)

[2018-05-15 18:42] nickhuber opened #240 "comment match mangles comment if it contains a `'` character"
[code]

This makes the comment on the rule when it is added by `don\'t` instead of what I tried to set.

[2018-05-16 11:01] hetii opened #241 "Bug - target.to_destination need to be inoked otherise issue happen in iptc/ip4tc.py"
Hi.
I use such prerouting method to set my rule.
There is odd issue that  happens in iptc/ip4tc.py when I don`t
invoke target.to_destination by print() or type(), whatever.

Otherwise in function get_all_parameters() of iptc/ip4tc.py res.pop() return None and
that`s why required key is undefined.

This issue happen just on my centos system.

[code]

[2018-05-23 18:48] codecat555 commented on #232
I thought I should circle back here with some new information - FYI.

The problem was not actually related to mixing ipv4 and ipv6 usage in the same process. Rather, it was that I was caching references to the iptables rows and trying to use them after they had been invalidated. I had expected these references would be stable, especially across operations that did not actually modify anything, but

[2018-05-24 00:31] ldx commented on #241
Did you install python-iptables via pip? Can you check what version it is?

[2018-05-24 00:54] ldx commented on #240
The problem seems to be in the native library:

    void xtables_save_string(const char *value)
    {
    	static const char no_quote_chars[] = "_-0123456789"
    		"abcdefghijklmnopqrstuvwxyz"
    		"ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    	static const char escape_chars[] = "\"\\'";
    	size_t length;
    	const char *p;

    	length = strspn(value, no_quote_chars);
    	if (length > 0 && value[length

[2018-05-24 01:27] ldx commented on #240
I pushed a commit with a workaround. Feel free to give it a shot, though I'm still thinking whether this is the right way to work around the issue.

[2018-05-24 01:34] ldx commented on #237
My bad, I tagged the release, but then failed to push the tag. Fixed.

Thanks!

[2018-05-24 01:34] #237 closed

[2018-05-24 06:38] umlaeute commented on #235
@Van-hoa btw, there are Debian packages `python3-iptables` (or `python-iptables` if you are *still* using Python2 - which you shouldn't).

The Debian package is slightly patched to search the multi-arch path of xtables.

@andryyy this seems to be unrelated to this issue (although the subject line matches). i guess you should open a new ticket. Probably @ldx could change the title (of *this* issue)

[2018-05-28 06:13] minglumlu opened #242 "Failed to set NAT to_destination with IP address and port"
Hello,
I met following error when I'm setting "to_destination" of "NAT" target. Could you please help to look at it? It works with an IP address `127.0.0.1`, but fails with a port `127.0.0.1:60443`.
[code]

The `python-iptables`  is installed with pip on Ubuntu 16.04:
[code]

Thanks,

Ming

[2018-05-28 08:18] minglumlu commented on #242
Sorry for stupid question.
I should specify the protocol firstly.

[2018-05-28 08:18] #242 closed

[2018-05-28 17:01] TheDiveO commented on #238
I was about to ask if there might be some part of iptc maybe conflicting with switching network namespaces when I luckily found this bug report. I'm not exactly clear from this issue report how I can at least temporarily disable the table caching until the library author can fix this issue, or provide an official way to clear the cache?

[2018-05-29 23:38] ldx commented on #235
@umlaeute can you point me to those patches? Thanks!

[2018-05-29 23:57] ldx commented on #235
@andryyy can you please create a new issue? Your problem is likely something different from the one discussed in this thread. Thanks!

[2018-05-30 07:56] umlaeute commented on #235
@ldx all Debian specific patches can be found [here](https://salsa.debian.org/python-team/modules/python-iptables/tree/debian/master/debian/patches).

However, note that the xtables-patch (`0002-...`) is rather simplistic, as it only has do deal with linux (and freebsd and hurd,...) and not care about Darwin and/or W32. That's also the main reason why I never forwarded the patch.

afaict, the othe

[2018-06-03 10:39] nassimabedi opened #243 "How get position (rulenum) of a rule"
Hi,

How get position of a rule or rulenum and then replace with another rule?

Thanks

[2018-06-03 22:43] nassimabedi commented on #243
Thank you for reply.
I know about `replace_rule`.
I want to view all of rules with rule number in a chain to choose a rule with rule num (position) and replace with new rule.

[2018-06-03 23:04] ldx commented on #243
You can iterate through chains like this:

[code]

[2018-06-03 23:31] nassimabedi commented on #243
Thank you :)

[2018-06-03 23:32] #243 closed

[2018-06-07 18:40] codecat555 commented on #232
Sorry for the delay, been a bit busy lately. This is what I'm talking about (notice that the address for each rule instance changes each time the rules are read) -

[code]

[2018-06-13 17:57] pavelsly commented on #231
I have same problem. Can solve it?

[2018-06-28 15:40] Gianman opened #244 "Ipv6 rules, configured with interface option, seem not to match the correct packets."
Hello,

We are using **python-iptables v0.12.0** in production within a dockerized environment orchestrated by kubernetes.

The container application that uses python-iptables library consists of the following networking:

* Two interfaces, let's name them **eth0** and **eth1**, to which are assigned one ipv4 and one ipv6 address for each one and are used only for internal communication purposes a

[2018-07-09 15:38] evlachos commented on #244
Hello,

Same issue also appeared in our env. Please note that this issue appears only in ipv6 table.
Some info regarding our env

$ cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.5 (Maipo)"

$ uname -r
4.4.134-1.el7.elrepo.x86_64

the command we use:
[code]

Best regards,
Efthymis

[2018-07-10 13:08] andryyy commented on #235
@ldx I just came across this issue again, sorry for not reporting back. My issue was solved by adding some ENV vars. :-)

[2018-08-07 11:11] hetii opened #245 "Rule not added to chain.rules when created by using iptc.Rule(chain=chain), bug?"
I notice that chain.rules have no rule that is created with  iptc.Rule(chain=chain),
I know we can add a rule by: chain.insert_rule(rule) but its not like it should be there already?
If not why Rule() accept chain argument?

	In [1]: import iptc
	   ...: table = iptc.Table("nat")
	   ...: chain = iptc.Chain(table, "PREROUTING")
	   ...: rule  = iptc.Rule(chain=chain)
	   ...: print(chain, rule.cha

[2018-08-07 12:25] hetii opened #246 "When using match.state = "RELATED,ESTABLISHED" it is possible to insert the same rule into chain."
Hello
I use such simple contex manager class and method that use it:

	import iptc

	class RuleAdd():
	    def __init__(self, table_name, chain_name, target_name):
	        self.table_name = table_name
	        self.chain_name = chain_name
	        self.target_name = target_name

	    def __enter__(self):
	        table = iptc.Table(self.table_name)
	        self.chain = iptc.Chain(table, self.cha

[2018-08-09 08:25] hetii opened #247 "Segmentation fault occure when rule.create_target() is called when using table._cache()"
Hello
I test such code:

    import iptc

    def case_1():
        print("Stage 1:")
        table = iptc.Table('nat')
        table.refresh()
        chain = iptc.Chain(table, "PREROUTING")
        # close table *nat* and coresponding socets.
        table.close()

        print("Stage 2:")
        # Notice - I get here a *filter* table not *nat*
        table = iptc.Table("filter")
        #tab

[2018-08-10 18:26] nassimabedi opened #248 "find overlap other rules"
Hi,

I am looking for a way to find overlap rules. I mean when insert a new rule if it overlap other rules
it returns me a notice. For example when I insert a rule to block a Port(8001) after that when I want to insert a rule that  allow that Port(8001) it returns a notice.

Thank you

[2018-08-12 06:15] nassimabedi opened #249 "help to add rule"
I want to add this rule to iptable.
`-A INPUT -d 0.0.0.0/32 -j NFQUEUE --queue-num 1`
This code has error:
[code]

error:
`target.queue-num = "1"
SyntaxError: can't assign to operator
`

[2018-08-12 06:49] nassimabedi commented on #249
I found the code :)
Here is code:

[code]

[2018-08-12 06:49] #249 closed

[2018-08-18 10:40] ccrssaa commented on #26
regression ?

[code]

[2018-08-29 12:35] konrad-fil opened #250 "Add support for IGMP protocol"
to reproduce:

[code]

raises ValueError: invalid protocol igmp

Protocols present in ip4tc.py are:
tcp, udp, icmp, esp, ah

[2018-08-31 13:37] #250 closed

[2018-08-31 17:15] ldx commented on #250
@konrad-fil did you figure out what was wrong?

[2018-09-03 05:51] leond08 opened #251 "iptc.ip4tc.IPTCError: can't initialize filter: b'Permission denied (you must be root)'"

[2018-09-03 06:29] konrad-fil commented on #250
@ldx Apparently our mirror contains python-iptables only up to release 0.3.0 so every time application was build that old version was bundled with it.
Because i spoted IGMP protocol in this very repository in the ip4tc.py that made me think 'Hey, something is wrong'
Maybe this is related with that release 0.3.0(year 2014) is still shown as latest relese

[2018-09-04 08:46] konrad-fil opened #252 "SIGABRT in create_chain if name length greater or equal to 30"
To reproduce:
[code]
if name is 29-30 characters long SIGABRT will be raised
if name is longer IPTCError will be thrown with message: "can't create chain mcastapp:PREROUTING:block_group123456789: Invalid argument"

[2018-09-04 17:32] ldx commented on #251
@leond08 you should run your script or application as root to be able to use iptables.

[2018-09-05 08:54] hulengjing opened #253 "Why can't I get the value of --state"
How can I get the information in --state through python-iptables, now I can only add the settings, but I can't view the state when I traverse the rules.
eg: ipatbles -A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

[2018-09-05 15:47] hheennrryy21 commented on #241
Hey everyone,

I have the same error when creating a nat rule using target.to_destination for the prerouting chain

`UnboundLocalError: local variable 'key' referenced before assignment`

[2018-09-05 18:26] hheennrryy21 commented on #241
So I just looked at it a bit more. After multiple attempts to debug it. I started to a see a clue.

I saw bits and pieces of my stdout in the python-iptables keys. Yeah..

My parent program, which called on python-itpables, was writing to stdout. I had hundreds of print statement, and other stdout related activity. I ran my parent program with unbuffered print, and now python-iptables now magicall

[2018-09-09 06:35] nassimabedi commented on #163
Hi,

I have exactly this error.
I have this error when my code works with nginx but it works correct without nginx.

`comment: parameter 'this is a test comment' error -2`

here is code:

[code]

[2018-09-10 07:18] nassimabedi commented on #231
in my case problem is with uwsgi and it works correctly with gunicorn

[2018-09-14 14:27] bogdik opened #254 "Add to doc create_chain method in Table"
Add to doc create_chain method in Table

[2018-09-19 10:48] Mr-HongHaiNguyen commented on #235
@andryyy : Can you share what were ENV vars you set to solve this issue? I have the same issue you described. Thanks!

[2018-09-19 11:44] umlaeute commented on #235
@Mr-HongHaiNguyen probably those found here: https://github.com/ldx/python-iptables#using-a-custom-iptables-install

[2018-10-22 14:03] multun opened #255 "Comments break if containing exclamation marks / quotes"
See https://github.com/ldx/python-iptables/blob/master/iptc/ip4tc.py#L392:
A regex isn't enough to parse shell-like escaped data. Shlex might do the trick

[2018-10-22 15:15] multun commented on #255
closing, duplicate of #240

[2018-10-22 15:15] #255 closed

[2018-10-22 15:18] multun commented on #240
Parsing also fails when the comment contains an exclamation mark. How about using shlex instead of a regex ?

[2018-10-23 17:17] ldx commented on #240
@multun do you mean when parsing the output from save()?

[2018-10-26 07:49] multun commented on #240
@ldx yup https://github.com/ldx/python-iptables/blob/e42e691732ec93d1bc05a954012246e78827f8d3/iptc/ip4tc.py#L392

[2018-11-07 15:51] iomari opened #256 "log target"
greetings,
how do i create a log target rule like "-j LOG--log-prefix "some text''"?

[2018-11-07 18:59] ldx commented on #256
This should work:

    import iptc

    table = iptc.Table(iptc.Table.FILTER)
    table.refresh()
    default_chain = iptc.Chain(table, 'INPUT')
    rule = iptc.Rule()
    rule.protocol = 'tcp'
    rule.target = iptc.Target(rule, 'LOG')
    rule.target.log_prefix = "some text"
    default_chain.insert_rule(rule)

[2018-11-07 18:59] #256 closed

[2018-11-10 16:42] iomari opened #257 "Code length"
Greetings,
I'm really enjoying this module. I love codng. But I have an honest question/observation.
I have many iptables scripts that I've written in python using subprocess calls. Some of them quite complex. However when I converted a few of my smaller scripts, the iptc versions were much larger. That's the observation. The question is, is iptc more efficient than subprocess calls that justify t

[2018-11-13 08:21] nicephil opened #258 "python-iptables import error on lede-17.01"
I put the python-iptables into lede/openwrt environement. but got the following error:
Python 2.7.14 (default, Nov  9 2018, 08:32:49)
[GCC 5.4.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/iptc/__init__.py", line 10, in <module>
    from iptc.ip4t

[2018-11-13 08:24] #258 closed, assigned to nobody

[2018-11-14 15:32] iomari opened #259 "To-source"
Greetings,
chain = iptc.Chain(iptc.Table('nat'), 'POSTROUTING')
rule = iptc.Rule()
rule.protocol = 'tcp'
rule.out_interface = INTIF
target = iptc.Target(rule, 'SNAT')
target.to_source = GWIP
chain.insert_rule(rule)

The above code gives me an invalid number rule error on the last line.
INTIF and GWIP are both elsewhere in the code and are used many times without error so I don't believe they're th

[2018-11-14 18:06] ldx commented on #259
The target you create is not attached to the rule. This should work:

    rule.target = iptc.Target(rule, 'SNAT')
    rule.target.to_source = GWIP

[2018-11-14 18:09] ldx commented on #257
It depends on the use case. If you only need something simple, e.g. inserting a rule or two when your application starts up, it's easier to shell out and call iptables. If you need to update rules in a very dynamic fashion, parse rules, etc, it's faster and more reliable to use a library (no process creation overhead, you don't have to create a parser for rules yourself, etc).

[2018-11-15 09:32] iomari commented on #259
Thanks. That did it to 😀

[2018-11-15 09:36] iomari commented on #259
Sorry, I spoke to soon.
The error is gone but the rule is not appearing.

chain = iptc.Chain(iptc.Table('nat'), 'POSTROUTING')
rule = iptc.Rule()
rule.protocol = 'tcp'
rule.out_interface = INTIF
rule.target = iptc.Target(rule, 'SNAT')
rule.target.to_source = GWIP
chain.insert_rule(rule)

[2018-11-15 09:42] iomari commented on #259
Embarrassing. It works. I was flushing rules after the above lines.

[2018-11-15 09:42] #259 closed

[2018-12-03 16:09] multun opened #260 "Subnets aren't simplified"
When adding a rule with, for example, source subnet src = `10.42.15.12/20`, python-iptables doesn't simplify the subnet to `10.42.0.0/20`, which causes netfilter to brainfart and not match anything at all.

Is it somehow intended ?

[2018-12-03 18:57] ldx commented on #260
Can you show me some example code?

[2018-12-04 08:58] multun commented on #260
[code]

`iptables-save | grep 1\.2\.3\.4` =>
`-A INPUT -s 1.2.3.4/20 -j LOG`

That rule seemingly can't be removed using -D:
[code]

[2018-12-04 19:08] TearsDontFalls opened #261 "Can't delete rule with IPSec policy match"
Hi,
loving the lib, but I noticed one bug: When using IPsec/IKEv2 with strongswan, you should create an iptables rule for forwarding/NATing the traffic like this ( https://www.digitalocean.com/community/tutorials/how-to-set-up-an-ikev2-vpn-server-with-strongswan-on-ubuntu-16-04#step-6-%E2%80%94-configuring-the-firewall-&-kernel-ip-forwarding )

`iptables -A FORWARD -s 10.8.6.0/24 -p esp -m policy

[2018-12-11 12:15] TrustArgon opened #262 "Is it possible to set log prefixes with python-iptables?"
In an attempt to automate redundant work, I've turned to and had great success with python-iptables. The only issue I'm having is that I cannot seem to find a way to use python-iptables to duplicate a rule written as such:

iptables -A CUSTOM_CHAIN -j LOG --log-prefix "Desired log prefix: " --log-level 6

specifically, is it possible to use python-iptables to set the --log-prefix and --log-level p

[2018-12-11 17:49] ldx commented on #262
Sure, something like this should work:

    import iptc

    table = iptc.Table(iptc.Table.FILTER)
    table.refresh()
    default_chain = iptc.Chain(table, 'CUSTOM_CHAIN')
    rule = iptc.Rule()
    rule.protocol = 'tcp'
    rule.target = iptc.Target(rule, 'LOG')
    rule.target.log_prefix = "Desired log prefix:"
    rule.target.log_level = "6"
    default_chain.insert_rule(rule)

[2019-01-17 07:42] mm95 opened #263 "install python-iptable on obuntu"

[2019-01-28 18:07] smandon opened #264 "REDIRECT to port"
Hi,

I'm trying to use python-iptables installed from pip (version 0.13.0) with python3 to create rules using --to-port with the REDIRECT target.
For example:
`iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 8080 -j REDIRECT --to-port 80`

but I cannot get the --to-port parameter to work.
I tried in a way similar to code found in other issues here (eg for --to-destination with DNAT), by setti

[2019-01-30 22:20] batkins61 opened #265 "Valid rule without a target cannot be created"
I am trying to create a rule to just provide counters for IP addresses using version 0.13.0.  I can add the rule with the CLI as follows:
`iptables -A IP_ACCT -dst 10.10.10.10`

when I execute that command, iptables -S yields
`-A IP_ACCT -d 10.10.10.10/32`

and iptables -L -n -v yields:
[code]

However, when I attempt to create the rule as follows:
[code]
I get:
[code]
If I add a target, it works.

[2019-02-21 21:36] jllorente commented on #219
Solved in https://github.com/ldx/python-iptables/pull/222

[2019-02-21 21:36] #219 closed

[2019-02-23 00:38] BenHSTremblay opened #266 "Cannot create a target if it is a chain existing only in the ip6 nat table"
Replication is simple. Create a new chain in the nat ip6table, e.g.
[code]

Try to add that chain as the target of a rule:
[code]

Currently I am working around this by adding a chain with the same name to a different table, e.g.
[code]
[code]

[2019-02-26 00:36] drzraf commented on #182
I think there is an underlying issue worth reopening because trying to `pyinstall` a project containing python-iptables fails the exact same way as OP:

[code]

[code]

[2019-03-02 00:25] ldx commented on #266
Works for me without the workaround - what version are you on?

[2019-03-02 00:33] ldx commented on #265
I think the workaround is simply `rule.create_target("")` before inserting it.

[2019-03-02 00:41] #235 closed

[2019-03-02 00:53] ldx commented on #264
Can you try using `to-ports` instead of `to-port`? Iptables internally does some kind of aliasing between the two when calling via the command line.

[2019-03-02 00:55] ldx commented on #263
This only installs iptables. You should install python-iptables separately, according to the README.

[2019-03-02 00:55] #262 closed

[2019-03-02 01:03] ldx commented on #261
Interesting, works for me here on master:

[code]

[2019-03-02 01:06] ldx commented on #261
Can you test this with python-iptables from current master?

[2019-03-13 18:56] BenHSTremblay commented on #266
0.11.0-2

I will try upgrading dependencies and get back to you. Thanks.

[2019-03-23 08:59] invano opened #267 "DNAT rule error tcp match: only valid for protocol 6 in dmesg"
Hi,
I'm trying this package for the first time. Maybe this is a no-issue and it's just me typing the rule from python incorrectly.

I'd like to create the following rule to route all the traffic from one interface to another except one port:
[code]

I translated the rule above in the following way:
[code]

From python this seems to work and I don't get any error/exception, but if I do `iptables -t

[2019-03-23 22:54] ldx commented on #267
Try to also set the protocol for the rule, i.e.

    rule.protocol = "tcp"

[2019-03-24 09:27] jllorente opened #268 "[improvement] iptc helper to ease use of python-iptables"
Thank you @ldx for the amazing work on this library. I have been following this repo for a while now and even submitted my own PRs. While checking the issues, it seems many of them stem from an incorrect understanding of how to use the library. To be honest, the same happened to me when I started using it and this is precisely why I decided to write a self-helping module to abstract the internals

[2019-03-25 00:02] invano commented on #267
True that. I don't know why I was taking it for granted.

[2019-03-25 00:02] #267 closed

[2019-03-25 01:18] ldx commented on #268
Yeah, I think this observation is spot on. Python-iptables is a bit low-level (since it tries to closely match the underlying C libraries), thus there's some boilerplate you have to deal with.

I can definitely see value in adding wrappers that make it easier to use the library.

We can create a subpackage like `iptc.helper` and add your code there. A few suggestions:
- Let's create a README for t

[2019-03-26 20:07] jllorente commented on #268
Sounds good! I'll give it a go and submit a PR when I have something to show, we can then iterate on the PR itself  :)

[2019-05-03 16:11] #268 closed

[2019-05-18 13:21] jllorente commented on #264
@smandon as of version 0.14 there is a new module added called _iptc.easy_ (see the README for more information about this module).
You can either use it as a replacement of the low level interface provided by iptc or as a simple debugging tool for your iptc code for rules, targets, etc.  See the following example:

[code]

As previsouly indicated by @ldx , the valid iptc syntax for this particula

[2019-05-18 13:29] jllorente commented on #253
@hulengjing , as of version 0.14 there is a new module added called iptc.easy (see the README for more information about this module).
You can either use it as a replacement of the low level interface provided by iptc or as a simple debugging tool for your iptc code for rules, targets, etc. See the following example:

[code]

[2019-05-18 14:56] jllorente commented on #252
@konrad-fil , I don't think this is related to the library itself. The length of the iptable components, say chains, targets or matches, seems to be defined in the kernel. See [here](https://elixir.bootlin.com/linux/v4.14/source/include/uapi/linux/netfilter/x_tables.h#L7 )

[2019-05-18 15:53] jllorente commented on #246
Related to https://github.com/ldx/python-iptables/issues/230

[2019-05-18 18:30] jllorente commented on #230
@codecat555  perhaps the comparison of Match() could be a little bit different - https://github.com/ldx/python-iptables/blob/master/iptc/ip4tc.py#L575

On a side note and regarding best practice, the state module is deprecated in favor of conntrack
https://superuser.com/questions/1071656/whats-the-difference-between-iptables-state-and-ctstate

[2019-05-18 18:38] jllorente commented on #230
I have created a PR to address this issue, https://github.com/ldx/python-iptables/pull/272

[2019-05-18 18:42] jllorente commented on #218
With the new _iptc.easy_ module you could use the _dump_ functions like this:

[code]

[2019-05-18 18:43] #218 closed

[2019-05-18 19:58] jllorente commented on #257
Hi @iomari , please check the new _iptc.easy_ module that was recently added.
You can have one liners with iptables rules defined as python dictionaries :)

[code]

[2019-05-18 20:00] jllorente commented on #261
I can't reproduce the issue either.
@TearsDontFalls what version were you using?

[2019-05-18 21:51] TearsDontFalls commented on #261
@ldx  @jllorente Thanks, was fixed meanwhile on master :)

Didnt work with 0c3c0cb.

[2019-05-18 21:51] #261 closed

[2019-05-19 19:18] jllorente commented on #265
@batkins61 , I don't know if we want to change the behavior of the library for this particular bit, however this PR https://github.com/ldx/python-iptables/pull/273 adds support for undefined/missing and _goto_ targets when using dictionary rules.
[code]

[2019-05-19 19:40] jllorente commented on #260
Hi @multun  thank you for spotting this!
I have submited PR https://github.com/ldx/python-iptables/pull/274 to address this issue.

[2019-05-19 19:44] jllorente commented on #246
@hetii , the problem is in the comparison of Match() instances. PR https://github.com/ldx/python-iptables/pull/272 addresses this :)

[2019-05-19 20:11] jllorente commented on #241
@hheennrryy21  I couldn't reproduce your issue on my test installation from my ipython3 interpreter.

OS: Debian GNU/Linux 9.9 (stretch)
Kernel: 4.19.0-0.bpo.4-amd64 #1 SMP Debian 4.19.28-2~bpo9+1 (2019-03-27) x86_64 GNU/Linux
python-iptables version: 0.13.0

If I may ask, in your script you first disable autocommit on the table, then without doing any alterations to the table/chain, you then refr

[2019-05-19 20:17] jllorente commented on #263
Hi @mm95 , did you solve your installation issue?
If you are using Ubuntu, chances are that iptables is already installed in your system. Can you provide the output of the following command?

[code]

As far as installing python-iptables (the library of this repository), you can do it by simply running:
[code]

The documentation only says that if you want to run a different version of iptables than

[2019-05-20 05:07] mm95 commented on #263
Hi @jllorente and @ldx
yes, my problems were solved after some research and try.
Thank you for your attention.

[2019-05-22 14:56] ymolinet opened #275 "Install on CentOS 7"
Hi all,

Im' trying to install python-iptables on CentOS 7 (1810)
The installation failed with error below :
[code]

I'm trying to install python2-distutils-extra-2.39-8.el7.noarch.rpm but don't resolve my issue.

[2019-05-22 19:39] drzraf opened #276 "libxtwrapper in 2019"
This library makes system awkward and a shared object living around in places like `/usr/lib/python3/dist-packages/libxtwrapper.cpython-37m-x86_64-linux-gnu.so`.
This is obviously *outside* standard `ldconfig` library paths and it the reason for:
- extra `*find_library*` wrappers
- extra documentation
- extra packaging scripting

### 1. Is this wrapper still needed?
* `get_kernel_version` could be

[2019-05-27 21:50] ldx commented on #275
@ymolinet it seems you need to install the python-devel or python-dev package (not sure how it's called on CentOS).

[2019-05-27 22:51] ldx commented on #276
Correct.

Some people install iptables in a non-standard location, alongside an existing system install.

Long story short: the iptc libraries have some limitations (most notably error handling) we need to work around.

Does this answer your questions?

[2019-05-28 15:16] ymolinet commented on #275
Many thanks, it's working !

`yum install python-devel`

[2019-05-28 17:10] hheennrryy21 commented on #241
Hi jllorente,

There is no reason why I had autocommit=False in the beginning.  I was assuming this was the default when the iptc.Table object gets created. I wanted to let the team know that I've still been seeing this stdout issue for some time now since this ticket was created. Occasionally, when my program runs I am able to cause iptc to interpret an stdout message from my program as a valid e

[2019-05-28 17:24] #275 closed

[2019-06-03 19:38] jllorente commented on #246
The fix is now available in master

[2019-06-03 19:38] #246 closed

[2019-06-03 19:38] jllorente commented on #230
The fix is now available in master

[2019-06-03 19:38] #230 closed

[2019-06-03 19:39] jllorente commented on #260
The fix is now available in master

[2019-06-03 19:39] #260 closed

[2019-06-03 19:41] jllorente commented on #265
The fix is now available in master when using dictionary rules, otherwise use `rule.create_target("")` as indicated above.

[2019-06-03 19:41] #265 closed

[2019-06-03 19:44] jllorente commented on #257
Hi @iomari , did you have a chance to take a look at the comment above?

[2019-06-15 00:33] drzraf commented on #276
Thank you for the answer.
If some people install iptables in a non-standard location then they could rely on `LD_PRELOAD` as well and this does not quite explain why this library wouldn't live in a standard location.
Still about the `wrap*()` there are no so many comments and I didn't find more explanation from the history nor reference to a mailing-list thread.
* Are these function working around

[2019-06-21 23:05] MaelStor opened #279 "iptc.errors.XTablesError: b'recent'.x6_fcheck has failed"
I tried adding a rule with iptc.easy.add_rule(table, chain, rule_d) which has got a 'recent' match, but end up either with the error `iptc.errors.XTablesError: b'recent'.x6_fcheck has failed` if the name attribute is given as first argument or with an iptables rule with name DEFAULT instead of the one i've given it.

the rule as dictionary which produces the rule below:
`>>> rule_d = {'protocol':

[2019-06-23 18:56] MaelStor opened #280 "Chain counters show always zero values for packets and bytes"
When trying to use `packet_counter, byte_counter = chain.get_counters()` where chain is a Chain object with a builtin chain (I've tried all in FILTER: INPUT, OUTPUT, FORWARD) the resulting tuple is always (0,0). Even refreshing the table as mentioned in #47 doesn't update the values. Output with `iptables -L -vn --line-num` shows non-zero values for the chains.

[2019-06-23 21:15] MaelStor commented on #279
I digged into the easy module and found that there's an AttributeError when calling _iptc_setattr_d(). That's because the Match object already got an instance attribute `name = 'recent'` and dynamically adding the attribute`name = 'UDP-PORTSCAN'` in _iptc_setattr() with `setattr(Match, 'name', 'UDP-PORTSCAN')` fails. If that happens at the end of the parsing of `rule_d` every other attribute is se

[2019-06-23 22:29] jllorente commented on #279
Hi @MaelStor , can you specify the full iptables command for your rule?
Did you try to get the dictionary representation of your rule via `iptc.easy.dump_chain()` ?

[2019-06-23 22:56] MaelStor commented on #279
Hi @jllorente . I'm loading my rules from a yaml file and apply them in a python script. But to reproduce the error within the python console as root:

When name is the last key in the 'recent' dictionary and the FILTER INPUT chain is empty:
[code]

When name is the first key in the 'recent' dictionary:
[code]

[2019-06-23 23:07] jllorente commented on #279
I need to look more carefully into it, but at at a first glance, modifying this function seems to work

[code]

[2019-06-23 23:20] MaelStor commented on #279
Works perfect. Thanks :)

[2019-06-23 23:34] jllorente commented on #280
I tried with the function from the iptc.easy module and it works, since it always fetches the a refreshed view of the iptc table/chain/rule object.

[code]

[2019-06-23 23:54] MaelStor commented on #280
Sorry my mistake I've checked the wrong table for non-zero chain counters. I've tried it again and it's working with chain.get_counters() and your method for rules.

[2019-06-23 23:54] #280 closed

[2019-06-25 15:18] wrwahut opened #281 "install python-iptables error"
ERROR: Complete output from command /usr/bin/python2 -u -c 'import setuptools, tokenize;__file__='"'"'/tmp/pip-install-Ll45yc/python-iptables/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-_3xAFc/install-record.txt --single-version-externa

[2019-06-25 16:56] ldx commented on #281
You need to install the C includes/headers for Python. Likely the package is either called python-dev or python-devel in your Linux distribution.

[2019-06-25 19:11] MaelStor opened #282 "'python-iptables: match "state" already registered' when creating rule with match state in ip4 and ip6"
I'm applying the rules in the python console as root:
[code]
to ipv4 and after that to ipv6 with
[code]
what gives me the error:
`python-iptables: match "state" already registered`
and throws me out of the python console.

I traced the error down manually as far as I could with the most recent call last:
[code]

My iptables version is: `iptables v1.8.2 (legacy)`

#112 and #135 seem to be related t

[2019-06-25 21:40] jllorente commented on #282
I can't reproduce the problem in my installation
[code]

[2019-06-25 22:38] jllorente commented on #279
Hi @MaelStor , I have addressed this issue in PR https://github.com/ldx/python-iptables/pull/283 , please have a look  :)
I think the new code is much nicer, it makes use of set_parameter() for matches and targets and also obsoletes some private functions.

[2019-06-25 23:10] MaelStor commented on #282
My environment:

[code]

I tried with both python versions in clean venvs. Seems to more an iptables problem.

[2019-06-26 01:02] MaelStor commented on #282
I've ran the python interpreter with strace. If it helps here's the output from the moment I typed
`iptc.easy.add_rule('filter', 'INPUT', rule_d, ipv6=True)`

[python.strace.since_add_rule.txt](https://github.com/ldx/python-iptables/files/3327743/python.strace.since_add_rule.txt)

There's a lot of junk of the python interpreter in it but the error is written on line 763 and the call to `libxtables

[2019-06-26 01:57] MaelStor commented on #279
Hi @jllorente . I've checked out the PR, ran my ruleset with it and everythings in place. As far as I'm concerned I'm happy with it :+1:

[2019-06-26 04:05] wrwahut commented on #281
my os is centos, I have installed python-devel  by "yum install python-devel", but install error exist .
libiptc.so, libxtables.so in /usr/lib64

[2019-06-26 09:34] wrwahut commented on #281
firstly，thanks very!! the issue is solved

[2019-06-26 17:18] #281 closed

[2019-07-01 04:18] #279 closed

[2019-07-01 17:22] ldx commented on #276
There is a callback in the iptables library called `exit_err()`. We override this so that instead of just printing out an error and exiting (the default behavior in iptables), we can transfer back control via `setjmp()`/`longjmp()`. The function wrappers set up the target to which control will be transferred back to when an error occurs in the iptables C library.

[2019-07-07 05:43] mcccs commented on #182
it works for me

[2019-07-16 22:13] hheennrryy21 opened #284 "iptables handler stays open"
I have software which continuously runs and updates iptables using **iptc**.

The issue I found was that I see open raw sockets after adding the rules.

After a long time I can easily have more than 20 open raw sockets.

To replicate the issue run the following:

**Code snippet**
[code]
**Then run this on Linux**
`watch netstat -wvpa`

Observe the raw sockets. They remain open.

There is a way to

[2019-07-17 22:23] ldx commented on #284
Tables should be singletons, but there is a chance we're leaking them somewhere.

Can you reproduce the leak (and is it a real leak, i.e. more and more sockets get opened over time without ever reaching a reasonable max number) via creating rules or calling the offending function repeatedly?

[2019-07-18 17:32] hheennrryy21 commented on #284
ldx, you are right. I found out in my software what that the issue was something else.

python-iptables indeed only has a Table singleton. I could not replicate the multiple rule insertion. I found out some other piece of code was doing. Next time I'll be sure to triple check before opening an issue.

Thanks again!

[2019-07-18 17:32] #284 closed

[2019-07-18 17:34] ldx commented on #284
Cool, thanks for getting back to me!

[2019-07-21 18:41] andryyy commented on #282
Same happens here on Alpine 3.10 but not Alpine 3.10

[code]

Results in `python-iptables: match "state" already registered`. :(

[2019-07-21 18:51] andryyy commented on #282
Oh, it works when you downgrade iptables and ip6tables to the Alpine 3.9 versions:

iptables (1.6.2-r1 instead of 1.8.3-r0)
ip6tables (1.6.2-r1 instead of 1.8.3-r0)

[2019-08-13 14:05] jimfunk commented on #282
Looks like this is the commit that introduces the check that makes the program exit:

http://git.netfilter.org/iptables/commit/libxtables/xtables.c?id=3b2530ce7a0d6aa3bee687bf0167bb4908c7b798

[2019-09-13 09:12] zkryakgul opened #285 "Rule multiple Dst Addresses"
I want to add multiple dst addresses to my rule like in ip tables for example:

`iptables -A OUTPUT -o enp0s3 -p tcp --dst 1.1.1.1,2.2.2.2,185.195.230.7 -m multiport --dports 80,443 -m comment --comment Test -j DROP`
I wrote a script that is add rule's from given json. And if i give the script a json like this and ran it:
[code]
it says `invalid address 1.1.1.1,2.2.2.2,185.195.230.7`

But when i r

[2019-10-25 10:01] dolenam317 opened #288 "Do we have a way to set chai/rule counter to some offset when inserting or appending rules ?"
Do we have some way to set the rule counters when inserting or appending a rule ? I tried

`
$rule_d = {'src': '172.168.168.129/32', 'in-interface': 'br0', 'mac': {'mac-source': '11:22:33:44:55:66'}, 'target': 'test_counters', 'counters': [0, 12345]}
$iptc_easy.insert_rule('mangle', 'FORWARD', rule_d)
`

Verify again using
`iptables -t mangle -nxvL FORWARD`

Result:

Expected result:

[2019-10-25 17:36] ldx commented on #288
Does this work from the command line?

[2019-10-26 12:59] jllorente commented on #288
Currently there is only support for getting the counters in (numberOfBytes, numberOfPackets) format via iptc.easy.get_rule_counters()

I can look into how to add more support for rule counters :)

[2019-10-26 14:29] jllorente commented on #288
Hei @dolenam317  and @ldx! Can you take a look at PR https://github.com/ldx/python-iptables/pull/289 ?
I have added some extra support for counters :)

[2019-10-26 14:35] jllorente commented on #288
This is how I tested it:

[code]

[2019-10-28 02:38] dolenam317 commented on #288
@jllorente Thank you, this is exactly what I am looking for.

[2019-10-28 02:38] #288 closed

[2019-10-28 21:30] jllorente commented on #264
@smandon  did any of the proposed fixes work for you?

[2019-10-28 21:30] #252 closed

[2019-10-28 21:35] jllorente commented on #248
Hi @nassimabedi , that logic you can implement yourself without too much trouble.

For example:
- Get all rules in a chain
- For each rule, check if your target rule is included by the existing rule.

Initially, you could stick to checking a 5-tuple rule, that is (src_ip, dst_ip, proto, src_port, dst_port). From there onwards, you can extend to checking other _matches_ (iptables has quite a large

[2019-10-29 07:20] nassimabedi commented on #248
Hi @jllorente, Thank you for reply :)

[2019-10-29 07:20] #248 closed

[2019-10-31 14:13] ccsalway opened #290 "match not adding parameters 'proto' and 'reqid'"
The following Rule does not add the 'proto' or ''reqid'

[code]

{'src': '10.0.0.1/32', 'dst': '172.31.31.124/32', 'in-interface': 'eth0', 'policy': {'dir': 'in', 'pol': 'ipsec'}, 'target': 'ACCEPT'}

[2019-11-02 19:57] jllorente commented on #290
Yeah, I tried the following and run into the same issue.
While we are able to retrieve the rule, we cannot create a new one.

I did this:
[code]

[2019-11-05 07:38] zkryakgul opened #291 "Can't set port parameter to DNAT target"
Using normal iptables commands you can do something like that:

`iptables -t nat -A PREROUTING -p tcp -m tcp -d 192.168.0.1 --dport 80 -j DNAT --to-destination 192.168.0.100:443`

But when i create a new Target and try to set parameter to it it raises an error:

[code]

Traceback:

[code]

[2019-11-05 17:34] ldx commented on #291
I suspect something's not quite right when you create your rule. This should work if you want the add the same rule as you did via the command line:

    import iptc
    t = iptc.Table('nat')
    c = iptc.Chain(t, 'PREROUTING')
    r = iptc.Rule()
    r.protocol = 'tcp'
    r.dst = '192.168.0.1'
    r.match = r.create_match('tcp')
    r.match.dport = '80'
    r.target = r.create_target('DNAT')

[2019-11-06 07:40] zkryakgul commented on #291
yes it's works. I checked my code again and realize i forgot the set protocol parameter to my rule. I think that was the problem. Thanks!

[2019-11-06 07:40] #291 closed

[2019-11-27 01:53] crazy-canux opened #292 "clean rules from builtin chain with flush error."
this is not working.

[code]

[2019-11-27 01:56] ldx commented on #292
Can you elaborate? Any error messages you get?

[2019-11-27 06:32] crazy-canux commented on #292
No error.
Looks everything works fine.
but the all rules still exist.

[2019-11-27 10:32] crazy-canux opened #293 "conflict with docker(swarm)."
when i update iptables after use docker swarm deploy some stack.
It's failed.
Anybody knows how to fix this?

[code]

[2019-11-27 19:18] ldx commented on #293
Can you share the code triggering this exception?

Also, does this run in a Docker container?

[2019-11-28 02:25] crazy-canux commented on #293
1. docker swarm init
2. docker deploy ...  (start some stack)
3. modify iptables like:
[code]

the code running on host not container.

[2019-11-28 02:50] crazy-canux commented on #293
Does this package support "iptables -w"?
maybe wait can fix this.

[2019-11-28 02:57] crazy-canux commented on #293
-w, --wait [seconds]
              Wait  for  the  xtables  lock.   To prevent multiple instances of the program from running concurrently, an
              attempt will be made to obtain an exclusive lock at launch.  By default, the program will exit if the  lock
              cannot  be  obtained.   This option will make the program wait (indefinitely or for optional seconds) until

[2019-11-28 09:33] christian-2 opened #294 "cannot get options for iptable match extensions"
I am getting started with `python-iptables` (v0.14.0 with Python 3.7.3) and run a program that loops over tables, chains, and then prints all rules including matches. For a match with `match.name == 'tcp'` I would have expected that there is an instance attribute `match.dport`, because the documentation [1] says "parameters are implemented as instance attributes in python" and `man iptables-extens

[2019-11-28 13:43] mrtwister76 opened #295 "Linux Cron Issues"
Importing iptc into a Python script & trying to call that script from a cronjob fails silently.

Remove the iptc import & the Python script will run fine.

Tested on CentOS 7 & Ubuntu 18.04 LTS

Have also tested in virtual envs & get the same result.

[2019-11-28 14:11] mrtwister76 commented on #295
Seem that, as advised in #239, setting the PATH to /usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin in the crontab line has fixed the issue :)

[2019-11-28 14:11] #295 closed

[2019-12-02 12:11] dolenam317 opened #296 "Performance issue on ARM architect when perform lookup and modify rule"
Hi,

I have a custom chain where packets are marked for further processing. What I am trying to do is
- Look up for a special rule base on its specification (protocol, source IP, destination IP ...). I had another interface to perform the scanning before calling my script so there aren't duplicated rules
- If a rule is found, it is replaced with another rule. They are basically the same rule excep

[2019-12-02 17:18] ldx commented on #293
No, python-iptables does not use the lockfile. It should be pretty easy to add locking, though. This is how it's done in the iptables command line tool:

    bool xtables_lock(int wait, struct timeval *wait_interval)
    {
    	struct timeval time_left, wait_time, waited_time;
    	int fd, i = 0;

    	time_left.tv_sec = wait;
    	time_left.tv_usec = 0;
    	waited_time.tv_sec = 0;
    	waited_ti

[2019-12-02 17:28] ldx commented on #294
Don't use `__dict__` directly, use `match.dport`.

[2019-12-02 17:31] ldx commented on #296
Can you share your code? refresh() is called from a few places, it's hard to pinpoint the problem without seeing more.

[2019-12-05 04:18] dolenam317 commented on #296
Hi please find the setup at:
https://drive.google.com/file/d/1EXlkHJ-IpCVtTLhyyJtiK6KJLT1yINAV/view?usp=sharing

Step to reproduce:
- Extract the tar file to some directory
`./fw-setup.py -a restore`
`./fw-setup.py -a enable_fw_rule -p udp --dest_ip 52.57.100.58/32 --dest_port 27641 --fw_policy accept --firewall --table raw --chain sta_firewall`
`./fw-setup.py -a disable_fw_rule -p udp --dest_ip 5

[2019-12-10 11:20] christian-2 commented on #294
Yes, I can do that. But I was hoping that there was a way of looping over all such entities (for printing purposes) without knowing their exact names up front.

[2019-12-10 17:58] ldx commented on #294
You can try `print match.get_all_parameters()` if you're curious about all the key/value parameters of a match or target.

[2019-12-11 10:14] christian-2 commented on #294
That nails it, thx.

[2019-12-11 10:14] #294 closed

[2020-01-23 19:35] MSUDenverACM opened #297 "Setting chain policy not reflected in iptables output, but it does work."
The following does work:
[code]
and I can tell via:
[code]
But this isn't reflected in the output of the iptables command:
[code]
Machine:
[code]
I'm happy that it works, but just want to make sure this is the expected behavior.
Thanks for all the work on this!

[2020-01-23 19:39] jllorente commented on #297
Hi Steve,

Shouldn’t the policy be DROP instead of REJECT?

What’s the output of “iptables-save” after you run that script?

On Thu, 23 Jan 2020 at 20:35, Steve Beaty <notifications@github.com> wrote:

[2020-01-23 21:02] MSUDenverACM commented on #297
You’re absolutely right, I did make is DROP but my copy and paste was bad :-(  I’ll fix it in the question. I still didn’t see the change in the iptables command line.

	Thanks!

--
Steve Beaty, Professor, MSU Denver Computer Science

Only the educated are free.
Epictetus

[2020-01-23 21:12] MSUDenverACM commented on #297
..and I just found the issue…

	Debian now defaults to nftables with iptables-legacy being used for backwards compatibility. If I run iptables-legacy I do see the DROP.

	I’ll followup to my question. Thanks much!

--
Steve Beaty, Professor, MSU Denver Computer Science

The mind is not a vessel to be filled, but a fire to be kindled — Plutarch

[2020-01-23 21:26] MSUDenverACM commented on #297
Mystery solved...

[2020-01-23 21:26] #297 closed

[2020-01-29 21:42] vhaidamaka opened #298 "Support for nftables"
Hi,

python-iptables library uses iptables-legacy, but currently a number of distributions (Debian, Fedora, CentOS etc) switched to nftables. Some distros ships iptables-legacy binary for smooth migration, but for example, CentOS doesn't and it makes this library unusable.

Do you have any plans to support nftables?
Thanks.

Related issue https://github.com/ldx/python-iptables/issues/297

[2020-02-03 18:44] ldx commented on #298
I haven't looked into how much work it would be. It might be better to start a new greenfield project for nftables, I expect that lots of things have changed between iptables and nftables (even though they provide a compatibility layer).

[2020-02-17 21:08] chruss2 commented on #282
I tracked this down to commit f210f1416782a43304b2694af972e6ae77dada35.  Setting xtables_matches to NULL is not enough to reset the find_matches logic anymore.

I feel like the above commit is a bit of a hack. Can we instead cache protocol-independent extensions using a protocol-independent key?

[2020-02-18 18:22] #282 closed

[2020-03-04 10:08] leond08 opened #301 "AttributeError: 'NoneType' object has no attribute '_handle' using python3.7"
I'm using python3.7and iptc version 0.13.0 when i try to import iptc i got an error:

[code]

is this python version error?
any work around for this  :)

[2020-03-04 14:36] zkryakgul opened #302 "to_destination issue in DNAT"
Hi, i have a problem when defining a DNAT target on iptc. Normally you can do something like this in iptables:

`iptables -t nat -A PREROUTING -p tcp -m tcp -s 192.168.6.100 -d 185.X.X.X --dport 80 -j DNAT --to-destination :443`

but when i try this on iptc

[code]

it's getting this error:

[code]

[2020-03-04 19:18] ldx commented on #302
Can you try providing an `IP:port` instead of just `:port` for `target.to_destination`?

[2020-03-04 19:22] zkryakgul commented on #302
I tried but the result is the same.
`XTablesError: b'DNAT': parameter error -2 (b'192.168.6.100:443')`

It only accepts if you enter the ip address without port.

[2020-03-04 22:15] ldx commented on #302
I think the only thing missing is specifying the protocol:

    import iptc

    rule = iptc.Rule()
    rule.protocol = 'tcp'
    target = iptc.Target(rule, 'DNAT')
    target.to_destination = ':443'

[2020-03-04 22:27] jllorente commented on #302
Alternatively try with iptc.easy functions?

[2020-03-04 23:25] leond08 commented on #235
@Mr-HongHaiNguyen what did you do to solve your problem? I'am currently facing the same issue my environment is buildroot also. I'm having an error in importing iptc

[2020-03-04 23:38] leond08 commented on #301
Any idea on this?

By the way i am currently using Buildroot for my raspberry pi 3B+

NAME=Buildroot
VERSION=2019.02.1-g48c5339-dirty
ID=buildroot
VERSION_ID=2019.02.1
PRETTY_NAME="Buildroot 2019.02.1"

Kernel Version 4.14.95-v7

I have libiptc.so and libxtables.so in /usr/lib

[2020-03-04 23:52] leond08 commented on #301
I will try to compile the source from master as @frankvanbever  has the latest commit
hope this would solve my problem.

[2020-03-05 02:56] Mr-HongHaiNguyen commented on #235
@leond08 : It's quite long time ago, so I don't really remember how I fixed it. However I found this code snippet, hope it help:
[code]

[2020-03-05 08:42] zkryakgul commented on #302
Yes, it's fix my issue. Thanks!

[2020-03-05 08:42] #302 closed

[2020-03-05 12:17] frankvanbever commented on #301
For the 0.14 release I've got the following [patch series](https://patchwork.ozlabs.org/project/buildroot/list/?series=161528) submitted to Buildroot upstream that should solve all find_library() issues. If you were to test it and it works for you could you please [mark it as Tested-by](https://buildroot.org/downloads/manual/manual.html#_reviewing_and_testing_patches)?

[2020-03-06 01:22] leond08 commented on #301
@frankvanbever after applying the patch
I got this error

[code]

[2020-03-08 04:42] leond08 commented on #301
any idea? how to solve this issue.

[2020-03-08 13:15] #251 closed

[2020-03-09 16:41] frankvanbever commented on #301
Hi @leond08 I was able to reproduce the issue. :arrow_up: the PR I submitted fixes the issue for me.

[2020-03-11 05:48] leond08 commented on #301
@frankvanbever  i will test this on my end. Thanks!

[2020-03-11 11:09] leond08 commented on #301
Yeah It works now on my environment!

[2020-03-11 11:09] leond08 commented on #301
Thanks @frankvanbever

[2020-03-11 12:56] frankvanbever commented on #301
@leond08 Great to hear that it works for you. If you have a couple of minutes to spare, could you please mark the patch as `Tested-by:`?

The procedure is explained here: [http://nightly.buildroot.org/manual.html#_reviewing_and_testing_patches](http://nightly.buildroot.org/manual.html#_reviewing_and_testing_patches)

If you're not subscribed to the mailing list I can add it for you, I just need a

[2020-03-17 16:21] MichaelSweikata opened #304 "Installing python-iptables on Centos 7"
When I'm attempting to install python-iptables in a venv or on the server itself, I keep running into this error:

    ERROR: Command errored out with exit status 1:
     command: /home/ec2-user/python3-virtualenv/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-1ibysrvd/python-iptables/setup.py'"'"'; __file__='"'"'/tmp/pip-install-1ibysrvd/python-iptables/s

[2020-03-17 16:54] ldx commented on #304
You need to install python-dev or python-devel for your Python version.

[2020-03-17 17:16] MichaelSweikata commented on #304
....welp. Derp. I'm glad it was something simple, and I did check to confirm that the developer tools were there, just not...y'know, the developer version.

Anyone after me looking at this problem:

https://serverfault.com/a/715731

[2020-03-17 17:16] #304 closed

[2020-03-19 16:56] zakatsv commented on #216
I have an issue with python-iptables (version 0.14.0 installed with pip)
When I try to set target parameter for DNAT formatted as <ip>:<port>, it fails.
When I specify IP only, the issue does not occur.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/restvpn2/env/lib/python3.6/site-packages/iptc/ip4tc.py", line 285, in set_parameter
    return self.parse(para

[2020-03-19 17:28] ldx commented on #216
@zakatsv try setting the protocol for your rule:

    import iptc
    rule = iptc.Rule()
    rule.protocol = 'tcp'
    target = iptc.Target(rule, "DNAT")
    target.set_parameter('to_destination', '127.0.0.1:8080')

[2020-03-19 20:11] zakatsv commented on #216
@ldx Thank you very much for the blazing fast response. It worked as a charm!

[2020-05-31 00:35] #298 closed

[2020-06-25 14:01] malteohlers opened #305 "Performance issue with iptc.easy.dump_all() on a server with many rules."
Hi,

### Disclamer:
First all - I'm fairly new to python and this is my first project with python-iptables - so I'm sorry if this it not the correct place way / place to post this question - but I didn't find another forum.
Also I might be missing something very obvious, better way to achieving what I want - please feel free to point it out.

Thank you in advance!

### Issue:

I'm running some vpn

[2020-06-26 12:22] jllorente commented on #305
Without looking at the rule set is hard to make a guess... But perhaps you don't need to call dump_all() ?
After all, that's the most expensive call you can make.
Perhaps you could benefit from some iptables rule engineering for such a vast infrastructure.

Say that you have a chain where you add the "hooks" for each tunnel and use deterministic chain names based on the VTI interface? Then you onl

[2020-06-28 14:33] iptizer opened #306 "nftables / CentOS8 support"
I am not 100% sure how things are related between iptables and nftables, so I though I'll highlight my problem here, maybe there is a solution.

## Setup

I am using Kubernetes with Calico on CentOS8. CentOS8 uses nftables. [Felix](https://docs.projectcalico.org/reference/felix/configuration) (the Calico component for setting iptables on a host) is setup with backend=NFT. This works, but some thin

[2020-06-28 22:01] jllorente commented on #306
Hi @iptizer ,
can you please provide the output of `# iptables -t nat -S` ?

[2020-06-30 09:26] iptizer commented on #306
sure thing!

[code]

[2020-07-01 17:08] ldx commented on #306
My understanding is, even though nftables provides a compatibility layer and the CLI is similar, under the hood it's a different library. Python-iptables interacts with iptables via the C libraries, so it doesn't work with nftables.

Recently the official nftables project added python bindings it seems: https://git.netfilter.org/nftables/tree/py so you might want to give that a try. I haven't test

[2020-07-08 19:33] madhanmellanox opened #307 "iptc unable to fetch correct number of rules"
I am using Debian Linux:
Distribution: Debian 10.4
Kernel: 4.19.0-6-2-amd64

When I run a python script to get the number of rules in chain "INPUT", it is returning 0 rules, but actually there are more than 10 rules in INPUT chain

import iptc
chain = iptc.Chain(iptc.Table(iptc.Table.FILTER),"INPUT")
print(chain.name)
print(len(chain.rules))

admin@sonic:/tmp$ sudo python abc.py
INPUT
0
admin@soni

[2020-08-07 16:04] matinats commented on #251
Why? I am running a firewalld inside a docker container that runs as a non-root user. If I give the container and this firewalld script the NET_ADMIN capability, why not run as user?

[2020-08-07 23:39] #306 closed

[2020-08-07 23:40] ldx commented on #307
Probaby your system is nftables-based, and python-iptables only works with legacy iptables. See #306

[2020-08-07 23:42] #276 closed

[2020-08-07 23:43] ldx commented on #301
It seems this has been fixed, so closing this issue.

[2020-08-07 23:43] #301 closed

[2020-08-08 00:08] ldx commented on #247
@hetii you can remove `table.close()` from `case1()`, that will fix the issue.

[2020-08-08 00:08] #247 closed

[2020-08-12 22:36] #307 closed

[2020-08-27 11:44] dmzoneill opened #308 "Remove depednacy on python3-disutils?"
hi,

Distributing certain applications with a dependency on ITPC, have only support for requirements.txt at install time.
Access to packager manager is tricky, as you don't know what package manager there is ahead of time. (orchestratied cloud deployments)

python-iptables has a dependency on python-distutils on some versions of python and isn't available on others.
ModuleNotFoundError: No module

[2020-08-27 16:35] matinats opened #309 "Cannot execute python-iptables (iptc) as non-root user"
I am trying to run the python-iptables as a non-root user.

My script is test.py:

import iptc
import os

uid = os.getuid()
print("Real user ID of the current process:", uid)

table = iptc.Table(iptc.Table.FILTER)
print("Table is:".format(table))

I tried:
1. Giving the capability CAP_NET_ADMIN to /usr/bin/python2.7 (outcome is: $ getcap /usr/bin/python2.7 /usr/bin/python2.7 = cap_net_admin+eip )

[2020-09-03 20:06] dmzoneill opened #310 "query icmp ype from rule"
Hi,

I have the following rules:
`
ACCEPT     icmp --  10.246.0.0/16        10.255.253.4         icmptype 8 state NEW,RELATED,ESTABLISHED
ACCEPT     tcp  --  10.246.0.0/16        10.255.253.4         tcp dpt:22 ctstate NEW,ESTABLISHED
ACCEPT     all  --  10.246.0.0/16        10.255.253.4         state RELATED,ESTABLISHED
DROP       all  --  10.246.0.0/16        10.255.253.4
`
how do you query icmp

[2020-09-22 21:21] tomh4x opened #311 "changing value of match does not update rule content"
[code]

this should just be a string assignment.  digging a bit further...

[code]

I then additionally tried to call iptc.ip4tc.Rule.remove_match(), create a new iptc.Match object and call add_match().

This also threw no errors or exceptions and did not update the comment value.  I believe my only work-around is to delete the whole rule and re-insert, but is the match issue something that can be

[2020-09-22 21:29] tomh4x commented on #309
iptables does not work as non-root either, as you're modifying settings in part of the kernel (netfilter).  Linux is designed this way.

[2020-09-24 18:36] jllorente commented on #311
You need to replace the rule with a new rule:
* using the low level interface: https://github.com/ldx/python-iptables/blob/master/tests/test_iptc.py#L852
* using the higher level interface: https://github.com/ldx/python-iptables/blob/master/iptc/easy.py#L139

[2020-09-24 18:39] jllorente commented on #310
Try using the "dump_table" function to see what the internals of the iptc rules are:
https://github.com/ldx/python-iptables/blob/master/README.md#high-level-abstractions

Paste here the output :)

[2020-09-24 20:57] tomh4x commented on #311
Yes, as stated, that is what I ended up doing.  I was asking if code changes on the part of this project would allow for changes to match objects directly.

For example, if one updates the value of `iptc.Rule.src` with a new address, the netfilter contents instantly reflect this.  It just seemed odd to discover that child objects did not also work that way.

Regardless, thank you for responding an

[2020-10-11 05:10] castaway2000 opened #312 "Gateway parameter for TEE forwarding seems to be missing"
How would I implement the gateway parameter with this code snip? Cant seem to add it in. Should I convert this to a dictionary process?

[code]
The above code fails silently and does not register in iptables

According the docs from [iptables ](http://ipset.netfilter.org/iptables-extensions.man.html) for TEE forwarding state that it should be there as it is required for TEE to work and it looks li

[2020-10-11 10:48] jllorente commented on #312
You can use something like this with the _easy_ module

`iptc.easy.add_rule('mangle', 'PREROUTING', {'in-interface': 'eth0', 'target': {'TEE': {'gateway': '192.168.1.100'}}})`

[2020-10-11 10:50] jllorente commented on #312
In your example you are just missing adding the gateway attribute to the target:

[code]

[2020-10-11 22:25] castaway2000 commented on #312
I wonder why this process didnt work for me i tried this for a few hours last night. I ended up using the following solution after looking at some other kinds of examples using the set_parameter method.

target = iptc.Target(rule, "TEE")
target.set_parameter("gateway", "192.168.1.1")

[2020-10-15 18:12] ldx commented on #312
Closing this based on the feedback, thanks @jllorente for helping out.

[2020-10-15 18:12] #312 closed

[2020-10-25 16:07] nandujayakumar opened #313 "Matching with dscp values"
Don't we have any provision to match using DSCP value ????  Was not able to find the appropriate  python API for it

[2020-10-25 18:37] ldx commented on #313
Example:

    import iptc

    table = iptc.Table("filter")
    chain = iptc.Chain(table, "INPUT")
    rule = iptc.Rule(chain=chain)
    rule.protocol = "tcp"
    match = rule.create_match("dscp")
    match.dscp_class = "BE"
    target = rule.create_target("ACCEPT")
    chain.insert_rule(rule)

[2020-10-26 03:58] nandujayakumar commented on #313
Thanks @ldx

[2020-10-26 04:04] #313 closed

[2020-10-28 19:04] ApoXalvation commented on #112
Hello, It looks like this issue still occurs for external kernel modules like jool/jool_siit
`>>> import iptc

<iptc.ip4tc.Target object at 0x7f106a25ab80>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/.local/share/virtualenvs/qualia-gdQNZkWv/lib/python3.8/site-packages/iptc/ip4tc.py", line 1002, in create_target
    target = Target(self, name=name, revisi

[2020-10-28 22:13] ldx commented on #112
@ApoXalvation I tried to reproduce it after installing Jool from the deb packages, but the process gets stuck in kernel, and only reboot helps:

     8607 pts/10   S+     0:00  |   \_ sudo /home/vilmos/.virtualenvs/iptc/bin/python issue112.py
     8608 pts/10   D+     0:02  |       \_ /home/vilmos/.virtualenvs/iptc/bin/python issue112.py

Code:

    import iptc
    t6 = iptc.Rule6().create_target(

[2020-10-28 23:08] ApoXalvation commented on #112
@ldx After package installation `sudo apt install jool-dkms jool-tools` ensure that You have enabled kernel modules `/sbin/modprobe jool_siit`

[2020-10-28 23:15] ldx commented on #112
Thanks, that helped!

This code works for me:

    import iptc

    rule6 = iptc.Rule6()
    target6 = rule6.create_target("JOOL_SIIT")
    print(rule6.nfproto, target6.name)

    rule = iptc.Rule()
    target = rule.create_target("JOOL_SIIT")
    print(rule.nfproto, target.name)

Output:

    10 JOOL_SIIT
    2 JOOL_SIIT

Using:

    $ iptables --version
    iptables v1.8.2 (nf_tables)

[2020-10-28 23:41] ApoXalvation commented on #112
So it might be a problem with iptables version. I'll check this tommorow but this is good news for me.
Thank You for Your time. @ldx

[2020-10-28 23:46] ldx commented on #112
No worries, let me know how it goes. Another thing to check is your python-iptables version.

[2020-10-29 11:37] ApoXalvation commented on #112
with: python-iptables==1.0.0 and iptables v1.8.4 (nf_tables) I still get the same error...
Which os do You use?

[2020-10-29 13:12] ApoXalvation commented on #112
It works fine on centos 8 but not on ubuntu 20.04 (tested with "v1.8.4 (nf_tables)" and  "v1.8.4 (legacy)"

[2020-11-04 02:00] ldx commented on #112
I use Debian 10. I also booted up an Ubuntu 20.04 VM, and the same, the sample code above works fine.

[2020-11-21 19:54] dogasantos opened #314 "rules dont seem to apply"
Hey there,
i'm testing this library and for some reason it doesn't seem to be working on my case.
I'm not sure if I'm missing something or it's a compatibility with python 3.8, here is the snippet:

`
import iptc

rule = iptc.Rule()
rule.protocol = "tcp"
match = iptc.Match(rule, "tcp")
rule.add_match(match)
rule.src = "192.168.86.86/255.255.255.255"
rule.target = iptc.Target(rule, "ACCEPT")
rule.i

[2020-11-23 02:45] ldx commented on #314
What version of iptables do you have installed? Recent operating system versions use nftables, and `iptables` is just a wrapper around it.

Does using `iptables-legacy` to check your rules work and show the rule you added?

[2020-11-24 03:35] caizhengxin opened #315 "Does not support custom target"
eg: iptables -A INPUT -j CUSTOM_TARGET --id 1

[2020-11-24 12:36] dogasantos commented on #314
Hi, thanks for your repply.
Yes, you're right, it's on legacy iptables.
Thanks!!

[2020-11-24 17:35] #314 closed

[2020-12-01 07:46] theKidOfArcrania commented on #309
Hi, you probably also need the `cap_net_raw` capability in addition to the `cap_net_admin` capability. (If you ran `strace -e trace=socket python3 -c 'import iptc; iptc.easy.dump_all()'` you will see that it will try to open a raw socket (which it will then use setsockopt to do iptable stuff)

[2020-12-11 05:56] nathanqthai opened #316 "Target already registered when applying rule for both IPv4 and IPv6 for TPROXY"
Similiar to #135, the error `python-iptables: target "TPROXY" already registered` appears when trying to create and insert a rule for both IPv4 and IPv6. The program exists immediately upon error after calling the wrapped function.

The following causes this error to occur:
[code]

[2020-12-11 06:21] nathanqthai commented on #316
After some testing, I found that this works fine if I add the IPv6 rule first.

[2020-12-11 18:19] ldx commented on #316
Yeah, it's usually better to only use one address family per process in python-iptables.

[2020-12-16 17:04] ApoXalvation commented on #112
@ldx The last attempt with `python-iptables==1.0.0` on centos 8 and honestly this error looks different than previous, but I am trying to achieve the same thing and faced every time different issues on various OSes:
[code]

[2021-01-25 02:11] ldx commented on #112
@ApoXalvation I tried both Ubuntu 20.04 and CentOS8, same result:

    Python 3.8.3 (default, Aug 31 2020, 16:03:14)
    [GCC 8.3.1 20191121 (Red Hat 8.3.1-5)] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/root/python-iptables/iptc/easy.py", line 74, in add_rule

[2021-01-30 19:30] #253 closed

[2021-01-30 19:32] #311 closed

[2021-01-30 19:36] jllorente commented on #315
Hi @caizhengxin ,
I'm using this library with a custom iptables kernel module and I have no problems with it. See here: https://github.com/Aalto5G/RealmGateway/tree/master/iptables_devel

Please verify that both userspace and kernel modules are properly installed.

I'm closing this issue due to insufficient information, reopen if necessary :)

[2021-01-30 19:36] #315 closed

[2021-01-30 20:31] jllorente commented on #296
Hi @dolenam317 ,
Are you still actively working on this?

I took a look at your code and I'm glad to see that you are using the _easy_ module :)
While I believe the excessive `refresh()` you saw could be triggered by the easy module, your code is not installing so many rules to explain the 3.5 sec execution time.

I ran your code on a VM with Debian 10 (buster) following your instructions but unfo

[2021-01-30 20:31] jllorente commented on #266
Hi @BenHSTremblay , were you able to solve the issue?

[2021-01-30 20:32] #257 closed

[2021-01-30 21:55] jllorente commented on #238
Hello there!
After doing some digging I think it is safe to say that this is related to the underlying libiptc library itself and the open handles for each Table.

When creating an object `Table()`, the code instantiates the iptc library, which creates a handle that is populated on `refresh()`: https://github.com/ldx/python-iptables/blob/master/iptc/ip4tc.py#L1588. The handle is active until the t

[2021-01-30 21:59] jllorente commented on #292
Hi @crazy-canux ,
Is it possible that you have added your rules with an iptables version that uses `nf_tables` ?
I have come across this _issue_ with recent versions of iptables package.
[code]

Please paste the results of these 4 commands:
[code]

Thank you!

[2021-01-31 01:56] #264 closed

[2021-01-31 02:00] #216 closed

[2021-01-31 02:03] #233 closed

[2021-01-31 02:24] jllorente commented on #293
This might not be relevant anymore, but doesn't this work?
[code]

[2021-01-31 11:46] jllorente commented on #305
Hi @malteohlers , were you able to solve it in the end?

[2021-02-12 14:23] malteohlers commented on #305
@jllorente - Thanks a lot for following up on this! That is much appreciated.
In fact no, we didn't solve the the problem.
Maybe I didn't understand you suggestion correctly or I simply lack the knowledge to implemented in an efficient way.
When I tried to understand if it would be feasible I seemed to me that the complexity would grow to much - and we would get to many hook rules - as we are deal

[2021-02-14 08:27] nirizr opened #317 "Double free on _Buffer destruction"
Hi,

I hope this is the right format for asking, please refer if not.

I'm having an occasional double  free segmentation fault when `ip4tc._Buffer.__del__` is called (presumably by the garbage collector), and I'm not even sure if it's a bug caused by me or by ip4tc (which I understand is part of python-iptables), using version `python-iptables-1.0.0`.

The last traceback I got is this, however th

[2021-02-15 00:33] ldx commented on #317
The single most useful thing is a minimal example that reproduces the problem. Any chance you can reduce your code to a short function or two that does that?

Another thing that might be a problem is if you try to share iptc objects between threads.

[2021-02-15 09:24] nirizr commented on #317
Thanks for your quick reply!

Unfortunately, the code that uses iptc is quite large in my codebase. Has several wrappers, etc... so pinpointing the buggy area will be a bit difficult, especially since I didn't write it.

I'm trying to do that now and I'll start by looking objects shared between threads. Any more similar pitfalls I should be looking for?

Would you expect overriding `_Buffer`'s `__

[2021-02-17 21:49] ldx commented on #317
The best is if you can do all iptables operations in one process and thread. In Python you can use a queue or something similar to send messages to this thread e.g. "insert a rule dropping packets going to 10.1.2.3/32", instead of calling a function directly.

The `easy` submodule is great to simplify things and reduce boilerplate code significantly. But it does not do any locking in itself.

Feel

[2021-02-25 10:20] nirizr commented on #317
Thanks! It'll take a while before we get someone to spend time on this apparently, but I think I know what we should be doing to avoid the issues we're having. Thank you so much!

I think i'll close this issue for now to avoid cluttering your issue tracker and come back here if we need any further assistance.